@import "css/base.scss";

.property-card {
    $this: &;

    display: inline-block;
    width: $property-card-width;
    margin: $property-card-spacing;
    text-align: left;
    border: $property-card-border solid transparent;

    &__panel {
        overflow: hidden;

        &:hover {
            background-color: $property-card-panel-hover-color;
            box-shadow: $property-card-panel-hover-box-shadow;

            #{$this}__overlay {
                opacity: 1;
            }

            #{$this}__actions {
                height: $property-card-actions-height;
            }
        }
    }

    &__image {
        height: $property-card-image-height;
        background-image: url("../../../images/blank_property.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.8;
    }

    &__overlay {
        position: relative;
        padding-bottom: $property-card-actions-height;
        height: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: all 0.2s ease;

        > * {
            position: relative;
        }

        &:before {
            opacity: 0.9;
            content: '';
            background-color: $property-card-panel-overlay-color;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__overlay-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        flex: 1;

        button {
            text-transform: uppercase;
            font-size: $text-xs;
            font-weight: $weight-bold;
            letter-spacing: $letter-spacing-wider;
            line-height: $line-height-normal;
            padding: $s3 $s6;
        }
    }

    &__actions {
        transition: all 0.2s ease;
        position: absolute;
        left: 0;
        height: 0;
        right: 0;
        bottom: 0;
        background-color: $property-card-panel-hover-color;
    }

    &__body {
        padding: $s6 $s5;
        font-size: 0;
    }

    &__name {
        color: $content-text-primary-color;
        font-size: $text-base;
        line-height: $line-height-relaxed;
    }

    &__address {
        height: $property-card-address-height;
        overflow: hidden;
        font-size: $text-xs;
        line-height: $line-height-loose;
        color: $content-text-secondary-color;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__status {
        margin-top: $s2;
    }
}

.property-card__selector {
    position: absolute;
    top: $s5;
    left: $s5;
    display: flex;
    width: $property-card-selector-size;
    height: $property-card-selector-size;
    cursor: pointer;
    border: $property-card-selector-border solid $property-card-selector-color;
    border-radius: 50%;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
}

.property-card__selector-tick {
    visibility: hidden;
    fill: $property-card-selector-color;
}

.property-card--selected {
    border: none;

    .property-card__panel {
        border: $property-card-border solid $property-card-selector-bg;
    }

    .property-card__overlay {
        opacity: 1;
    }

    .property-card__selector {
        background-color: $property-card-selector-bg;
    }

    .property-card__selector-tick {
        visibility: visible;
    }
}
