@import "css/base.scss";

.funnel-box-layout {
    display: flex;
    width: 100%;
    min-height: $s20;
    align-items: center;
    padding: $s5 $s8;
    border-bottom: 1px solid $table-border-color;
    &:hover {
        z-index: 999; // hovered item is always moved to the top of the stack
        transform: translateY(-23px);// scaleY(1.5333);
        transform-origin: 0 50% 0;
        background-color: inherit;
        border-color: blue;
        border-width: 1px;
    }
    &:first-child {
        border-top: 1px solid $table-border-color;
    }

    &__left {
        flex: 1;
    }

    &__right {
        flex: 1;
        text-align: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__name {
        color: $content-text-primary-color;
        font-size: $text-base;
        line-height: $line-height-relaxed;

        .rmb-tooltip-anchor {
            vertical-align: text-top;
            margin-left: 10px;
        }
    }

    &__target {
        color: $content-text-secondary-color;
        font-size: $text-sm;
        font-weight: 300;
        line-height: $line-height-normal;
    }

    &__value {
        color: $hero-text-color;
        font-size: 1.75rem;
        line-height: 1;
        text-align: right;
    }

    &__delta {
        font-size: $text-xs;
        line-height: $line-height-tight;
        text-align: right;
        width: 70px;
    }
}

.funnel-box-layout__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: row;
    bottom: 0;
    position: absolute;
}