@import "css/base.scss";

.project-page__report-section {
    padding: $s8;
}

.project-page__report-section__links {
    line-height: $line-height-normal;
    padding: $s4 0 $s4 $s10;
}

.project-page__report-section__link {
    color: $content-text-secondary-color;
}
