@import "css/base.scss";

.report-section {
    padding: $s8;
}

.report-section .period-links {
    line-height: $line-height-normal;
    padding: $s4 0 $s4 $s10;
}

.report-section .period-link {
    color: $default-ui-text-color;
}
