@import "css/base.scss";

.project-page .report-section {
    padding: $s8;
}

.project-page .report-section .report-links {
    line-height: $line-height-normal;
    padding: $s4 0 $s4 $s10;
}

.project-page .report-section .report-link {
    color: $lighter-ui-text-color;
}
