@import "css/base.scss";

$create-password-icon-size: $text-sm;

.create-password {
    width: 100%;
}

.create-password__button {
    margin-top: 24px;
    font-size: $text-xs;
    line-height: 20px;
    letter-spacing: $letter-spacing-wider;
}

.create-password-tooltip {
    padding: 12px 10px;
    font-family: $font-sans;
}

.create-password-tooltip__title {
    font-size: $text-sm;
    line-height: 20px;
    color: $gray-3;
}

.create-password-tooltip__rules {
    margin-top: 10px;
}

.create-password-tooltip__rule {
    display: flex;

    align-items: center;

    & + .create-password-tooltip__rule {
        margin-top: 14px;
    }

    &--ok {
        .create-password-tooltip__icon {
            &--default {
                display: none;
            }

            &--ok {
                display: block;
            }
        }
    }

    &--error {
        .create-password-tooltip__icon {
            &--default {
                display: none;
            }

            &--error {
                display: block;
            }
        }
    }
}

.create-password-tooltip__icon {
    width: $create-password-icon-size;
    height: $create-password-icon-size;
    margin-right: 10px;

    &--default {
        background: $gray-6;
        border-radius: 50%;
    }

    &--ok {
        display: none;
        color: $green-7;
    }

    &--error {
        display: none;
        color: $orange-6;
    }
}

.create-password-tooltip__text {
    font-size: $text-xs;
    line-height: 20px;
    color: $gray-6;
}
