@import "css/base.scss";

$create-password-icon-size: $text-sm;

.create-password {
    width: 100%;
}

.create-password__button {
    margin-top: 24px;
    font-size: $text-xs;
    line-height: 20px;
    letter-spacing: $letter-spacing-wider;
}
