@import "css/base.scss";

.create-password {
    width: 520px;
    font-family: $font-sans;
    background: #FFFFFF;
    border-radius: 4px;
}

.create-password__body {
    padding: 50px 80px;
}

.create-password__wizard {
    border-bottom: 1px solid #F4F3F3;
}

.create-password__title {
    font-size: 36px;
    line-height: 44px;
    color: #006EFF;
    text-align: center;
}

.create-password__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #20272E;
}

.create-password__form {
    margin-top: 34px;
}

.create-password__field {
    margin-top: 20px;
}

.create-password__button {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 24px;
}


.create-password-tooltip {
    font-family: $font-sans;
    padding: 12px 10px;
}

.create-password-tooltip__title {
    font-size: 14px;
    line-height: 20px;
    color: #20272E;
}

.create-password-tooltip__rules {
    margin-top: 10px;
}

.create-password-tooltip__rule {
    display: flex;
    align-items: center;

    & + .create-password-tooltip__rule {
        margin-top: 14px;
    }

    &--ok {
        .create-password-tooltip__icon {
            &--default {
                display: none;
            }

            &--ok {
                display: block;
            }
        }
    }

    &--error {
        .create-password-tooltip__icon {
            &--default {
                display: none;
            }

            &--error {
                display: block;
            }
        }
    }
}

.create-password-tooltip__icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;

    &--default {
        background: #798796;
        border-radius: 50%;
    }

    &--ok {
        color: #47BF00;
        display: none;
    }

    &--error {
        color: #FF540D;
        display: none;
    }
}

.create-password-tooltip__text {
    font-size: 12px;
    line-height: 20px;
    color: #798796;
}

