@import "css/base.scss";

$monthly-circle-size: 36px;
$weekly-bar-height: 40px;
$weekly-bar-width: 8px;
$cell-fill-color: $gray-5;
$cell-fill-color-highlight: $blue-3;

.funnel-performance-analysis {
    .panel {
        padding: 60px 80px;
    }

    .analysis__panel-header {
        display: flex;
        justify-content: space-between;

        .button-group {
            &__item {
                line-height: 1.25rem;
                padding: 0.5rem 2.5rem;
            }
        }
    }

    .analysis__table-intro {
        color: $highlight-gray-3;
        font-size: $text-base;
        margin-top: 3.75rem;
        margin-bottom: 1.5rem;
    }

    .analysis__table.ReactTable {
        border: 0;
        background-color: $gray-3;

        .rt-thead {
            border-color: $gray-4;
            border-bottom-width: 1px;
            box-shadow: none;

            .rt-th {
                padding: 0;
                color: $highlight-gray-3;
                font-size: $text-xs;
                line-height: $text-xl;
                letter-spacing: 1px;
                text-transform: uppercase;

                &>div {
                    padding: 15px 5px;
                }
            }
        }

        .rt-tbody {
            .rt-tr-group {
                border-bottom: 1px solid $gray-4;
                &:last-child {
                    border-bottom: 1px solid $gray-4;
                }
            }

            .rt-td {
                padding: 0;

                &:first-child {
                    color: $highlight-gray-3;
                    font-size: $text-sm;
                    line-height: $text-2xl;

                    &>div {
                        display: flex;
                        align-items: center;
                        padding: 24px 20px 20px 0;
                        white-space: normal;
                        height: 5.75rem;
                    }
                }
            }
        }

        .cell-monthly {
            height: 100%;
            color: $gray-6;
            text-align: center;
            overflow-y: hidden;

            &__circle-wrapper {
                width: $monthly-circle-size;
                height: $monthly-circle-size;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 18px auto 8px auto;
            }

            &__circle {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $cell-fill-color;

                &--highlight {
                    background-color: $cell-fill-color-highlight;
                }
            }

            &__value {
                font-size: $text-xs;
                line-height: $text-xl;
                letter-spacing: 0.5px;
                // text-align: center;
                padding-bottom: 10px;

                &--highlight {
                    font-size: $text-xs;
                    line-height: $text-xl;
                    color: $highlight-gray-3;
                }
            }
        }

        .cell-weekly {
            height: 100%;
            overflow-y: hidden;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &__label, &__value {
                font-size: $text-xs;
                line-height: $text-xl;
            }

            &__label {
                position: absolute;
                top: 0;
                width: 100%;
                color: $gray-6;
            }

            &__value {
                color: $highlight-gray-3;
                letter-spacing: 0.5px;
                margin: 4px 0 2px 0;
            }

            &__bars {
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: 6px;

                & > div {
                    width: 8px;
                    border-radius: 1px;
                    background-color: $cell-fill-color;
                    margin-right: 7px;

                    &.highlight {
                        background-color: $cell-fill-color-highlight;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // weekly table has borders around each cell
    .analysis__table--weekly {
        .rt-tbody {
            .rt-td {
                border-color: $gray-4;
                border-right-width: 1px;

                &:first-child, &:last-child {
                    border-right-width: 0;
                }
            }
        }
    }
}
