@import "css/base.scss";

@mixin table_header_text() {
    color: $content-text-primary-color;
    font-size: $text-xs;
    line-height: $text-xl;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin table_content_text() {
    color: $content-text-secondary-color;
    font-size: $text-sm;
    line-height: $text-2xl;
}

$status_color_complete: $green-3;
$status_color_in_progress: $blue-4;
$status_color_not_started: $content-text-secondary-color;

.campaign-plan-generic-tab {

}

.campaign-plan-generic-table {
    height: 100%;
    background-color: $panel-background-color;

    .rt-thead {
        color: $content-text-primary-color;
        border-color: $table-border-color;
        border-bottom-width: 1px;
        box-shadow: none !important;

        @include table_header_text();

        .rt-th {
            border: none;

            &>div {
                padding: 44px 20px 36px 20px;
            }

            &:first-child {
                &>div {
                    padding-left: 60px;
                }
            }

            &:last-child {
                &>div {
                    padding-right: 60px;
                }
            }
        }
    }

    .rt-tbody {
        .rt-tr-group {
            border-bottom-width: 1px;
            border-color: $table-border-color;
        }

        .rt-td {
            padding: 0;
            border-color: $table-border-color;
            @include table_content_text();

            &>div {
                padding: 16px 20px;
                white-space: normal;
            }

            &:first-child {
                &>div {
                    padding-left: 60px;
                }
            }

            &:last-child {
                &>div {
                    padding-right: 60px;
                }
            }
        }
    }

    .cell-status {
        &.not_started {
            color: $status_color_not_started;
        }
        &.in_progress {
            color: $status_color_in_progress;
        }
        &.complete {
            color: $status_color_complete;
        }
    }
}

.table-column-text-left {
    text-align: left;
}

.table-column-text-right {
    text-align: right;
}
