@import "css/base.scss";

$panel-spacing: $box-space;
$panel-header-text-size: $text-xl;
$panel-header-color: $highlight-gray-3;
$panel-header-height: 1.625rem;
$section-spacing: 100px;
$content-spacing: 50px 0;
$image-width: 605px;
$image-height: 370px;
$info-width: 365px;
$info-height: 370px;
$empty-property-bg: $gray-1;
$text-size: $text-sm;
$address-height: $text-base;
$address-spacing: 10px;
$header-font: $s7;
$header-height: 2.125rem;
$header-color: $highlight-gray-3;
$empty-site-color: #ccd0d6;

.property-overview {
    width: 1000px;
    padding: $content-spacing;
    margin: 0 auto;
}

.property-overview__info {
    display: grid;
    grid-column-gap: $panel-spacing;
    grid-template-columns: 1fr 1fr;
}

.property-overview__panel {
    display: flex;
    flex-direction: column;
    padding: $panel-spacing;
    &--info {
        width: $info-width;
        height: $info-height;
    }
}

.property-overview__panel-header {
    height: $panel-header-height;
    color: $panel-header-color;
    font-size: $panel-header-text-size;
}

.property-overview__section {
    margin-top: $section-spacing;
}

.property-overview__section-header {
    height: $header-height;
    color: $header-color;
    font-size: $header-font;
}

.property-overview__address {
    height: $address-height;
    margin-top: $address-spacing;
    font-size: $text-size;
}

.property-overview__image {
    width: $image-width;
    height: $image-height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $panel-border-radius;

    &--default {
        background-color: $empty-property-bg;
        background-image: $blank-building-url;
        background-size: auto;
    }
}

.property-overview__site {
    width: 100%;
    margin-top: auto;
}

.property-overview__site-link {
    width: 100%;
}

.property-overview__site-empty {
    color: $empty-site-color;
    font-size: $text-base;
    text-align: center;
}
