@import "css/base.scss";

$category-color-0:          $blue-1;
$category-color-1:          $blue-2;
$category-color-2:          $blue-3;
$category-color-3:          $blue-4;
$category-color-4:          $blue-5;

.rent-to-income-analysis {
    $this: &;

    color: $highlight-gray-3;
    margin: $panel-spacing;
    padding: 70px;
    display: flex;
    flex-direction: row;

    &__legends-wrapper {
        flex-grow: 0;
        max-width: 33.3333%;
        flex-basis: 33.3333%;
    }

    &__chart-wrapper {
        flex-grow: 0;
        max-width: 66.6666%;
        flex-basis: 66.6666%;
    }

    &__ratio {
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 16px;
        text-transform: uppercase;
        color: $content-text-primary-color;
        margin-bottom: 32px;
        white-space: nowrap;
    }

    &__categories {
        display: flex;
        flex-direction: column-reverse;
    }

    &__category {
        margin: 10px 0;
        font-size: 14px;
        line-height: 16px;
        white-space: nowrap;

        &-color {
            width: 32px;
            height: 20px;
            margin-right: 16px;
            display: inline-block;
            vertical-align: middle;

            &--0 {
                background-color: $rtir-category-bg-color-0;
                color: $rtir-category-text-color-0;
            }

            &--1 {
                background-color: $rtir-category-bg-color-1;
                color: $rtir-category-text-color-1;
            }

            &--2 {
                background-color: $rtir-category-bg-color-2;
                color: $rtir-category-text-color-2;
            }

            &--3 {
                background-color: $rtir-category-bg-color-3;
                color: $rtir-category-text-color-3;
            }

            &--4 {
                background-color: $rtir-category-bg-color-4;
                color: $rtir-category-text-color-4;
            }
        }

        &-name {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &-chart {
        position: relative;
        padding-left: 20px;
        padding-bottom: 20px;

        .chart__caption {
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            text-align: right;
            text-transform: uppercase;
            white-space: nowrap;
            color: $gray-6;
            position: absolute;

            .rmb-tooltip-anchor {
                position: absolute;
                right: -30px;
            }

            &--horizontal {
                right: 0;
                bottom: 0;
            }

            &--vertical {
                transform: rotate(-90deg);
                transform-origin: right top;
                right: 100%;
                top: 0;

                .rmb-tooltip-anchor {
                    transform: rotate(90deg);
                }
            }
        }

        &__body {
            display: flex;
            width: 100%;
            flex-direction: row;
            text-transform: uppercase;
        }

        &__group {
            display: flex;
            flex-direction: column-reverse;
            flex: 1;

            &--yaxis {
                max-width: 65px;
                width: 65px;
            }
        }

        &__cell {
            height: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 14px;

            &--yaxis {
                border-right: 1px solid rgba(61, 69, 85, 0.3);
                text-align: right;
                padding-right: 16px;
            }

            &--xaxis,
            &--yaxis {
                color: #ffffff;
                font-size: 12px;
            }
        }
    }

    &--flip {
        display: block;

        #{$this}__legends-wrapper {
            display: flex;
            max-width: 100%;
            margin-bottom: 32px;
        }

        #{$this}__chart-wrapper {
            max-width: 100%;
        }

        #{$this}__categories {
            flex-direction: row-reverse;
        }

        #{$this}__category {
            margin: 0 32px 0 0;
        }

        #{$this}__ratio {
            margin: 0 32px 0 0;
        }

        #{$this}-chart {
            &__vertical-caption {
                right: initial;
                top: initial;
                left: 0;
                bottom: 44px;
                transform-origin: left top;
            }

            &__horizontal-caption {
                right: initial;
                left: 80px;
            }
        }
    }
}
