@import "css/base.scss";

$thumb-size: 2.5rem;

.button-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }

    .toggle-tracks {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: $thumb-size;
        user-select: none;
        background-color: $button-default-bg-color;
        border-radius: $border-radius-default;
        color: $button-default-text-color;

        &--checked {
            background-color: $button-primary-bg-color;
            color: $button-primary-text-color;

            .toggle-thumb {
                left: calc(100% - #{$thumb-size});
            }

            .toggle-button-checked {
                visibility: visible;
                line-height: $thumb-size;
            }

            .toggle-button-unchecked {
                visibility: hidden;
                line-height: 0;
            }
        }

        &--unchecked {
            .toggle-thumb {
                left: 0;
            }
        }
    }

    .toggle-thumb {
        position: absolute;
        margin: 2px;
        border-radius: $border-radius-default;
        box-shadow: 0 2px 4px 0 rgba($gray-4, 0.15);
        background: #fff;
        width: calc(#{$thumb-size} - 4px);
        height: calc(#{$thumb-size} - 4px);
        transition: left .1s cubic-bezier(.4,1,.75,.9);
    }

    .toggle-button-checked {
        visibility: hidden;
        margin-left: $s4;
        margin-right: $thumb-size + $s4;
        line-height: 0;
    }

    .toggle-button-unchecked {
        visibility: visible;
        margin-left: $thumb-size + $s4;
        margin-right: $s4;
        line-height: $thumb-size;
    }

    .toggle-inner-label {
        text-align: center;
        font-size: $text-sm;
    }

    .toggle-outer-label {
        margin-left: $s4;
    }
}
