@import "css/base.scss";

$toggle-thumb-size: 1.625rem;
$toggle-thumb-margin: 4px;
$toggle-box-shadow: 0 0 6px 0 $gray-8;
$toggle-border-radius: 100px;
$toggle-checked-background: $blue-7;
$toggle-unchecked-background: $gray-3;
$toggle-checked-color: $highlight-gray-3;
$toggle-unchecked-color: $gray-6;

.button-toggle {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
        .button-toggle__thumb {
            box-shadow: $toggle-box-shadow;
        }
    }

    &--medium {
        .button-toggle__inner-label {
            visibility: hidden;
        }

        .button-toggle__thumb {
            left: calc(50% - #{$toggle-thumb-margin});
            transform: translateX(-50%);
        }
    }
}

.button-toggle--checked {
    .button-toggle__track {
        color: $toggle-checked-color;
        background-color: $toggle-checked-background;
    }

    .button-toggle__thumb {
        left: calc(100% - #{$toggle-thumb-size});
    }

    .button-toggle__checked {
        line-height: $toggle-thumb-size;
        visibility: visible;
    }

    .button-toggle__unchecked {
        line-height: 0;
        visibility: hidden;
    }

    &:hover,
    &:focus {
        .button-toggle__track {
            background-color: lighten($toggle-checked-background, 3%);
        }
    }

    &:active {
        .button-toggle__track {
            background-color: darken($toggle-checked-background, 2%);
        }
    }
}

.button-toggle--unchecked {
    .button-toggle__track {
        color: $toggle-unchecked-color;
        background-color: $toggle-unchecked-background;
    }

    &:not(.button-toggle--medium) .button-toggle__thumb {
        left: 0;
    }

    &:hover,
    &:focus {
        .button-toggle__track {
            background-color: lighten($toggle-unchecked-background, 3%);
        }
    }
    &:active {
        .button-toggle__track {
            background-color: darken($toggle-unchecked-background, 2%);
        }
    }
}

.button-toggle__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.button-toggle__track {
    position: relative;
    display: inline-block;
    height: $toggle-thumb-size;
    vertical-align: middle;
    border-radius: $toggle-border-radius;
    user-select: none;
}

.button-toggle__thumb {
    position: absolute;
    width: calc(#{$toggle-thumb-size} - 8px);
    height: calc(#{$toggle-thumb-size} - 8px);
    margin: 4px;
    background-color: $toggle-checked-color;
    border-radius: 50%;
    transition: left .1s cubic-bezier(.4, 1, .75, .9);
}

.button-toggle__checked {
    margin-right: $toggle-thumb-size;
    margin-left: $s2;
    line-height: 0;
    visibility: hidden;
}

.button-toggle__unchecked {
    margin-right: $s2;
    margin-left: $toggle-thumb-size;
    line-height: $toggle-thumb-size;
    visibility: visible;
}

.button-toggle__inner-label {
    font-size: $text-xxs;
    text-align: center;
    text-transform: uppercase;
}

.button-toggle__outer-label {
    margin-left: $s4;
    user-select: none;
}
