@import "css/base.scss";

.box-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;

    &--normal {
        margin: -$s4;

        > .child-wrapper {
            margin: $s4;
        }
    }

    &--wide {
        margin: -$s8;

        > .child-wrapper {
            margin: $s8;
        }
    }
}
