@import "css/base.scss";

.box-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;

    &--normal {
        margin: -$box-space / 2;

        > .child-wrapper {
            padding: $box-space / 2;
        }
    }

    &--wide {
        margin: -$box-space;

        > .child-wrapper {
            padding: $box-space * 2;
        }
    }
}
