 <!-- START Button -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
   <tr>
        <td align="center" valign="middle" class="content-block" style="font-family: Formular, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; background-color: #20272E; padding-top: 50px; color: #F5FAF7; {% if padding %}padding-bottom:100px;{% endif %}">
          <a href="{{report_url}}"
             class="btn-primary"
             style="text-decoration: none; color: #F5FAF7; background-color: #006EFF; border: solid #006EFF; border-width: 10px 30px; line-height: 2; letter-spacing: 1.5px; font-weight: 600; text-align: center; cursor: pointer; display: inline-block; border-radius: 4px; text-transform: uppercase;">
             View Report
          </a>
        </td>
    </tr>
</table>
<!-- END Button -->
