@import "css/base.scss";

.market-size-growth-reach {
    margin: $panel-spacing;
}

.market-size-growth-reach__table {
    width: 100%;

    .table__row {
        display: flex;

        span {
            flex: 1;
            text-align: right;
        }
    }

    .table__row--head span {
        color: $content-text-secondary-color;
        font-size: 12px;
        font-weight: $weight-medium;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $table-border-color;
        padding: 44px 20px 35px 20px;
        position: relative;

        .rmb-tooltip-anchor {
            position: absolute;
            right: -10px;
        }
    }

    .table__row--body span {
        color: $content-text-primary-color;
        border-style: solid;
        border-color: $table-border-color;
        border-right-width: 1px;
        border-bottom-width: 1px;
        font-size: 16px;
        font-weight: $weight-normal;
        line-height: 20px;
        padding: 18px 20px 17px 20px;

        &:last-child {
            border-right-width: 0;
        }
    }

    .table__row span:first-child {
        padding-left: 60px;
        text-align: left;
    }

    .table__row span:last-child {
        padding-right: 80px;
    }
}

.market-size-growth-reach__summary {
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;

    .summary__box {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 42px 20px;
        text-align: right;

        &:first-child {
            padding-left: 60px;
            text-align: left;
        }

        &:last-child {
            padding-right: 80px;
        }

        span:first-child,
        span:nth-child(2) {
            color: $content-text-secondary-color;
            text-transform: uppercase;
            font-size: $text-xs;
            font-weight: $weight-medium;
            line-height: 24px;
            letter-spacing: 1px;
        }

        span:nth-child(3) {
            color: $content-text-primary-color;
            font-size: 28px;
            font-weight: $weight-normal;
            line-height: 36px;
            margin-top: 6px;
        }
    }
}

.market-size-growth-reach__text {
    display: inline-block;
    margin-top: 50px;
    font-size: $text-sm;
}
