@import "../../../css/variables.scss";

.market-size-growth-reach__heading {
  padding: 30px 15px;
  color: $heading-font-color;
  border-bottom: $heading-border;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.market-size-growth-reach__panel {
  margin: 36px 0;
  border: $panel-border;
  border-radius: $panel-border-radius;
  background-color: $panel-background-color;
  box-shadow: $panel-box-shadow;
}

.market-size-growth-reach__table {
  width: 100%;
  font-size: 14px;

  .table__row {
    display: flex;

    span {
      flex: 1;
      text-align: right;

      &:first-child {
        padding-left: 60px;
        text-align: left;
      }

      &:last-child {
        padding-right: 60px;
      }
    }
  }

  .table__row--head span {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 26px;
    border-bottom: 1px solid $table-border-color;
    padding: 18px 40px 16px 40px;
  }

  .table__row--body span {
    color: #6D778D;
    border-style: solid;
    border-color: $table-border-color;
    border-right-width: 1px;
    border-bottom-width: 1px;
    line-height: 24px;
    padding: 12px 40px 10px 40px;

    &:last-child {
      border-right-width: 0;
    }
  }
}

.market-size-growth-reach__summary {
  // margin: 0 20px 12px 20px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;

  .summary__box {
    font-weight: 300;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    text-align: right;

    &:first-child {
      padding-left: 60px;
      text-align: left;
    }

    &:last-child {
      padding-right: 60px;
    }

    span:first-child, span:nth-child(2) {
      color: #6D778D;
      font-size: 14px;
      line-height: 20px;
    }

    span:nth-child(3) {
      color: #FFFFFF;
      font-size: 26px;
      margin-top: 12px;
    }
  }
}
