@import "css/base.scss";

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-top: 64px;
  margin-bottom: 36px;
  border-bottom: $heading-border;
  color: $heading-font-color;
  opacity: 0.6;

  &--mt-sm {
    margin-top: 32px;
  }

  &__title {
    letter-spacing: 1px;
    line-height: $line-height-tight;
    font-size: $text-sm;
    text-transform: uppercase;
    padding: 6px 14px;
  }

  &__extra {
    position: relative;
  }
}
