@import 'css/base.scss';

$selected-color: $blue-3;
$checkbox-spacing: 13.5px;
$group-width: 180px;
$menu-spacing: 0 30px 30px 30px;
$menu-max-height: 400px;
$option-spacing: 37px;
$group-border-color: $gray-4;
$controls-spacing: 50px;

.group-select {
    &.select .select__option:active,
    &.select .select__option--is-focused,
    &.select .select__option--is-selected {
        background-color: $select-option-background-color;
    }

    &.select .select__option--is-selected {
        color: $select-option-color;
    }

    .select__group-heading {
        padding: 0;
    }

    .select__menu {
        width: auto;
        padding: $menu-spacing;
        box-sizing: content-box;
    }

    .select__menu-list {
        max-height: none;
    }

    .group-select__option {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
}

.group-select--has-value {
    &.select__control {
        color: $input-text-color;
        background: $selected-color;
    }
}

.group-select__option-label {
    margin-left: $checkbox-spacing;
}

.group-select__label {
    font-size: $text-sm;
    line-height: $text-xl;
}

.group-select__groups {
    @include force-scrollbar();
    display: flex;
    overflow: auto;
    max-height: $menu-max-height;

    .select__group {
        width: $group-width;
        margin-left: $option-spacing;

        &:first-child {
            margin-left: 0;
        }
    }
}

.group-select__group {
    font-weight: $weight-normal;
    text-transform: uppercase;
    border-bottom: 1px solid $group-border-color;
}

.group-select__controls {
    display: flex;
    justify-content: space-between;
    margin-top: $controls-spacing;
}

.group-select__button {
    width: 100px;
    height: 44px;
    font-size: $text-xs;
    font-weight: $weight-bold;
    letter-spacing: $letter-spacing-wider;
}
