@import "css/base.scss";

$page-width: 1000px;
$title-height: 44px;
$text-color: $highlight-gray-3;
$label-color: $gray-6;
$subtitle-line-height: 28px;
$account-menu-width: 280px;
$items-gap: 1.875rem;
$menu-border: 1px solid $gray-4;
$menu-item-background: $gray-2;
$menu-item-background-hover: rgba(16, 20, 23, .1);
$menu-item-width: 221px;
$tab-title-line-height: 2.125rem;
$input-label-line-height: 1.25rem;
$input-border: 1px solid $gray-4;
$input-line-height: 1.25rem;
$current-password-text-color: $gray-4;
$buttons-border: 1px solid $gray-4;
$button-line-height: 1.25rem;
$message-line-height: 1.625rem;
$error-color: $orange-6;
$info-line-height: 1.75rem;

.account-settings {
    width: $page-width;
    margin: 50px auto 53px;
    font-family: $font-sans;
}

.account-settings__title {
    height: $title-height;
    font-size: $text-4xl;
    color: $title-large-color;
}

.account-settings__subtitle {
    margin-top: 10px;
    font-size: $text-base;
    color: $label-color;
    line-height: $subtitle-line-height;
}

.account-settings__panel {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    background: $panel-background-color;
    border-radius: $panel-border-radius;
}

.account-settings__menu {
    width: $account-menu-width;
    border-right: $menu-border;
    padding: 30px 30px 29px 30px;
}

.account-settings__menu-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.account-settings__menu-item {
    display: flex;
    align-items: center;
    width: $menu-item-width;
    padding: 10px 14px;
    margin-bottom: 20px;
    color: $label-color;
    font-size: $text-base;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    line-height: $line-height-relaxed;
    &:hover:not(&--active) {
        background: $menu-item-background-hover;
    }

    &--active {
        color: $text-color;
        background: $menu-item-background;
    }
}

.account-settings__menu-item-text {
    margin-left: 15px;
}

.account-settings__tab {
    flex-grow: 1;
}

.account-settings__tab-title {
    margin-bottom: 30px;
    color: $text-color;
    font-size: $text-xl;
    line-height: $tab-title-line-height;
}

.account-settings__label {
    margin-bottom: 8px;
    color: $label-color;
    font-size: $text-xs;
    font-weight: $weight-medium;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: $input-label-line-height;
}

.account-settings__tab-content {
    padding: 30px;
}

.account-settings__tab-section + .account-settings__tab-section {
    margin-top: 50px;
}

.account-settings__field {
    &--full-grid {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.account-settings__field-grid {
    display: grid;
    grid-gap: $items-gap;
    grid-template-columns: 1fr calc(50% - #{$items-gap / 2});
    &--col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.account-settings__buttons-field {
    display: flex;
    align-items: center;
    padding: 30px;
    border-top: $buttons-border;
}

.account-settings__button {
    padding: 12px 32px;
    font-size: $text-xs;
    font-weight: $weight-semibold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: $button-line-height;
}

.account-settings__general-error {
    margin-left: 30px;
    font-size: $text-sm;
    color: $error-color;
    line-height: $message-line-height;
}

.account-settings__field--error {
    .account-settings__label {
        color: $error-color;
    }

    .account-settings__input,
    .account-settings__input:focus {
        border: 1px solid $error-color;
    }
}

.account-settings__success {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: $text-color;
    font-size: $text-sm;
    line-height: $message-line-height;
}

.account-settings__checked {
    width: 18px;
    height: 14px;
    margin-right: 10px;
    fill: $green-7;
}

.account-settings__photo-field {
    margin-bottom: 30px;
}

.account-settings__photo-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.account-settings__photo-data {
    margin-left: 30px;
}

.account-settings__photo {
    position: relative;
    width: 100px;
    height: 100px;
    background: url("./img/image.png");
}

.account-settings__upload {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: $gray-9;
    border: 3px solid $gray-3;
    border-radius: 50%;
    color: $highlight-gray-3;
    cursor: pointer;

    input {
        display: none;
    }
}

.account-settings__upload-icon {
    width: 0.875rem;
    height: 0.875rem;
}

.account-settings__help-text {
    color: $label-color;
    font-size: $text-3xs;
    line-height: $text-sm;
}

.account-settings__photo-text {
    font-size: $text-base;
    line-height: $info-line-height;
    &--name {
        color: $text-color;
    }
}
