@import "css/base.scss";

$page-width: 1000px;
$title-height: 44px;
$subtitle-color: $gray-6;
$subtitle-line-height: 28px;
$account-menu-width: 280px;
$menu-border: 1px solid $gray-4;
$menu-item-background: $gray-2;
$menu-item-width: 221px;
$menu-item-color: $gray-6;
$menu-active-item-color: $highlight-gray-3;
$tab-title-color: $highlight-gray-3;
$tab-title-line-height: 34px;
$input-label-line-height: $line-height-tight;
$input-border: 1px solid $gray-4;
$input-line-height: 20px;
$input-text-color: $highlight-gray-3;
$password-text-color: $gray-6;
$buttons-border: 1px solid $gray-4;
$button-line-height: 20px;

.account-settings {
    width: $page-width;
    margin: 50px auto 53px;
    font-family: $font-sans;
}

.account-settings__title {
    height: $title-height;
    font-size: $text-4xl;
    color: $title-large-color;
}

.account-settings__subtitle {
    margin-top: 10px;
    font-size: $text-base;
    color: $subtitle-color;
    line-height: $subtitle-line-height;
}

.account-settings__panel {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    background: $panel-background-color;
    border-radius: $panel-border-radius;
}

.account-settings__menu {
    width: $account-menu-width;
    border-right: $menu-border;
    padding: 30px 30px 29px 30px;
}

.account-settings__menu-item {
    display: flex;
    align-items: center;
    width: $menu-item-width;
    padding: 14px;
    margin-bottom: 20px;
    color: $menu-item-color;
    font-size: $text-base;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    line-height: $line-height-relaxed;

    &--active {
        color: $menu-active-item-color;
        background: $menu-item-background;
    }
}

.account-settings__menu-item-text {
    margin-left: 15px;
}

.account-settings__tab {
    flex-grow: 1;
}

.account-settings__tab-title {
    color: $tab-title-color;
    font-size: $text-xl;
    line-height: $tab-title-line-height;
}

.account-settings__label {
    font-size: $text-xs;
    font-weight: $weight-medium;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: $input-label-line-height;
}

.account-settings__tab-content {
    padding: 30px;
}

.account-settings__field-group {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.account-settings__field {
    margin-top: 30px;

    &--short {
        width: 200px;
        margin-top: 0;
    }
}

.account-settings__input,
.account-settings__input[type=password] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    color: $input-text-color;
    font-size: $text-sm;
    border: $input-border;
    border-radius: 4px;
    background: transparent;
    line-height: $input-line-height;

    &:focus {
        outline: none;
        border-color: $input-focus-border-color;
    }
}

.account-settings__input[type=password] {
    color: $password-text-color;
}

.account-settings__buttons-field {
    padding: 30px;
    border-top: $buttons-border;
}

.account-settings__button {
    padding: 12px 32px;
    font-size: $text-xs;
    font-weight: $weight-semibold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: $button-line-height;
}
