{
  "extends": "stylelint-config-recommended",
  "ignoreFiles": ["**/spectral.scss"],
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "apply",
        "mixin",
        "each",
        "if",
        "else",
        "elseif",
        "include",
        "tailwind"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "deg", "px", "vh"]
  }
}
