{
  "extends": "stylelint-config-recommended",
  "ignoreAtRules": ["mixin", "include"],
  "ignoreFiles": ["**/normalize.scss"],
  "rules": {
    "indentation": 4,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "include"]
      }
    ],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "deg", "px", "vh", "fr"],
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global", "export", "import", "local"]
    }],
    "property-no-unknown": null
  }
}
