{
  "extends": "stylelint-config-recommended",
  "ignoreFiles": ["**/spectral.scss"],
  "rules": {
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "deg", "px", "vh", "fr"]
  }
}
