google-cloud-firestore = "*"
oauth2client = "*"
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2 = "*"
django-js-reverse = "*"
docutils = "*"
django = "==2.2.*"
sortedcontainers = "*"
python-dateutil = "*"
jsonschema = "*"
jsonfield = "*"
openpyxl = "*"
requests = "*"
django-click = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"
django-stdimage = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"
googlemaps = "*"
bs4 = "*"
sendgrid = "*"
celery = "*"
redis = "*"
cairosvg = "*"
svgwrite = "*"
django-redis = "*"
django-admin-sortable2 = "*"
sentry-sdk = "*"
graphkit = "*"
django-extensions = "*"
django-mjml = "*"
django-image-cropping = "*"
easy-thumbnails = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
parameterized = "*"
xmlschema = "*"
defusedxml = "*"
jinja2 = "*"
