[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
rope = "*"
python-language-server = {extras = ["all"],version = "*"}
pyls-black = "*"
pyls-mypy = "*"

[packages]
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
django = "*"
psycopg2-binary = "*"
django-js-reverse = "*"
docutils = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
