[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
rope = "*"
python-language-server = {extras = ["all"],version = "*"}
pyls-black = "*"
pyls-mypy = "*"
beautifulsoup4 = "*"
click = "*"

[packages]
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-js-reverse = "*"
docutils = "*"
django = "==2.1.*"
sortedcontainers = "*"
python-dateutil = "*"
jsonschema = "*"
jsonfield = "*"
openpyxl = "*"
requests = "*"
django-click = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
