[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
rope = "*"
python-language-server = {extras = ["all"],version = "*"}
pyls-black = "*"
pyls-mypy = "*"
click = "*"
pip-licenses = "*"
watchdog = "*"
ipdb = "*"

[packages]
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2 = "*"
django-js-reverse = "*"
docutils = "*"
django = "==2.2.*"
sortedcontainers = "*"
python-dateutil = "*"
jsonschema = "*"
jsonfield = "*"
openpyxl = "*"
requests = "*"
django-click = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"
django-stdimage = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"
googlemaps = "*"
bs4 = "*"
sendgrid = "*"
celery = "*"
redis = "*"
cairosvg = "*"
svgwrite = "*"
django-admin-sortable2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
