{% extends "users/auth_form_layout.html" %}

{% block submit %}Log in{% endblock %}

{% block nonfield_extras %}
  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block form_extra %}
{# This block should be wrapped inside <form> element because of "remember" field #}
<p>
  <label><input name="remember" type="checkbox" value="checked">Remember me?</label>
</p>
{# Assumes you setup the password_reset view in your URLconf #}
<p>
  <a href="{% url 'password_reset' %}">Never set a password? Or forgot it?</a>
</p>
{% endblock %}
