{# A base content page that renders a password form. #}
{% extends 'web/base.html' %}

{% block body %}
    <div class="password-form">
        <div class="password-form__header">
            <div class="remarkably-logo">&nbsp;</div>
            <a href="{%url 'login' %}" class="password-form__header-nav-back">&larr; Back to Log In</a>
        </div>
        <div class="password-form__box">
            <h1 class="password-form__title">{% block title %}{% endblock %}</h1>
            <div class="password-form__messages">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="password-form__nonfield-extras">
                {% block nonfield_extras %}{% endblock %}
            </div>

            {% if form %}
                <form method="post" action="{% block action %}#{% endblock %}" class="password-form__content">
                    {% csrf_token %}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="password-form__fields">
                        {% for visible_field in form.visible_fields %}
                        <div class="password-form__field">
                            {{ visible_field.label_tag }}
                            {{ visible_field }}
                            {{ visible_field.errors }}
                        </div>
                        {% endfor %}
                        <div class="password-form__actions">
                            <button type="submit" class="button button--primary button--block button--uppercase">
                                {% block submit %}Submit{% endblock %}
                            </button>
                        </div>
                    </div>
                </form>
            {% endif %}

            {% if form_extra %}
                <div class="password-form__extras">{% block form_extra %}{% endblock %}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
