@import "css/base.scss";
@import "css/variables.scss";

.select {
    outline: none;

    .select__control {
        cursor: pointer;
        padding: 10px 16px;
        border-radius: $select-border-radius;
        background-color: transparent;
        height: 100%;
        box-shadow: none;

        &, &:hover {
            border: 1px solid $input-border-color;
        }

        &--is-focused {
            &, &:hover {
                border: 1px solid $input-focus-border-color;
            }
            .select__single-value {
                color: $input-text-active-color;
            }
        }
        &--menu-is-open {
            .select__dropdown-arrow{
                &--up {
                    display: block;
                }

                &--down {
                    display: none;
                }
            }
        }
    }

    .select__value-container {
        padding: 0;
    }

    .select__placeholder {
        margin: 0;
        color: $input-placeholder-color;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;
    }

    .select__indicator-separator {
        display: none;
    }

    .select__indicator {
        padding: 0;
    }

    .select__dropdown-arrow {
        width: 10px;
        height: 5px;
        color: #F5FAF7;
        transform: translate(1px, -1px);

        &--up {
            display: none;
        }
    }

    .select__single-value {
        margin: 0;
        color: $input-text-color;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;
    }

    .select__menu {
        margin-top: 8px;
        border-radius: $select-border-radius;
        background-color: $select-background-color;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.35), 0 2px 6px 0 rgba(0,0,0,0.1);
    }

    .select__menu-list {
        @include dark-scrollbar();
    }

    .select__option {
        padding: 14px 20px;
        color: $select-option-background-color2;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;
        cursor: pointer;

        &--is-focused,
        &--is-selected {
            background-color: $select-option-focused-color;
        }
        &:active {
            background-color: $select-option-active-color;
        }
    }
}


.select--default {
    .select__control {
        border-color: $select-border-color;

        .select__single-value {
            color: $input-text-color;
        }
    }

    .select__option {
        &:active,
        &--is-focused,
        &--is-selected {
            color: $input-text-color;
        }
    }
}
