@import "css/base.scss";
@import "css/variables.scss";

.select {
    border: 1px solid $input-border-color;
    border-radius: $select-border-radius;
    outline: none;

    &:focus {
        border: 1px solid $input-focus-border-color;
    }

    .select__control {
        background-color: $select-background-color;
        border: none;

        &--is-focused {
            .select__single-value {
                color: $input-text-active-color;
            }
        }
        &--menu-is-open {
            .select__dropdown-arrow {
                background-image: url("../../../images/icon-up.svg");
                background-position: -1px 0;
            }
        }
    }

    .select__value-container {
        padding: 9px 16px;
    }

    .select__placeholder {
        color: $input-placeholder-color;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;
    }

    .select__indicator-separator {
        display: none;
    }

    .select__indicator {
        padding: 0 16px 0 0;
    }

    .select__dropdown-arrow {
        width: 8px;
        height: 4px;
        background-position: -1px -1px;
        background-image: url("../../../images/icon-down.svg");
    }

    .select__single-value {
        margin: 0;
        color: $input-text-color;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;
    }

    .select__menu {
        padding: 4px 0;
        margin-top: 8px;
        border-radius: $select-border-radius;
        background-color: $select-background-color;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.35), 0 2px 6px 0 rgba(0,0,0,0.1);
    }

    .select__option {
        padding: 14px 20px;
        color: $select-option-background-color2;
        font-family: $font-sans;
        font-size: $text-sm;
        line-height: $text-xl;

        &--is-focused,
        &--is-selected {
            background-color: $select-option-focused-color;
        }
        &:active {
            background-color: $select-option-active-color;
        }
    }
}
