@import 'css/base.scss';

$checkbox-size: 17px;
$checkbox-background: $blue-3;
$checkbox-border-color: $gray-6;
$checkbox-selected-border-color: $blue-4;
$checkbox-tick-size: 10px;
$checkbox-border-radius: 2px;

.checkbox {
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    cursor: pointer;
    border: 1px solid $checkbox-border-color;
    border-radius: $checkbox-border-radius;

    &--selected {
        background: $checkbox-background url(../../../images/icon-tick.svg) no-repeat center;
        background-size: $checkbox-tick-size;
        border-color: $checkbox-selected-border-color;
    }
}
