@import 'css/base.scss';

$filter-title-width: 200px;
$filter-field-spacing: 8px;

.dashboard-content {
    padding: $s12;
    text-align: center;
}

.dashboard-content__controls {
    height: 44px;
    padding-bottom: 19px;
    margin-bottom: 36px;
    border-bottom: $heading-border;
    box-sizing: content-box;
}

.dashboard-content__title {
    display: flex;
    margin-bottom: 28px;
    justify-content: flex-end;
}

.dashboard-content__title-right {
    display: flex;
}

.dashboard-content--selection-mode {
    .dashboard-content__filters {
        height: 0;
        overflow: hidden;
    }

    .dashboard-content__selection {
        height: 100%;
    }
}

.dashboard-content__filters {
    display: flex;
    height: 100%;
    transition: all .1s ease;
    align-items: center;
}

.dashboard-content__selection {
    height: 0;
    overflow: hidden;
    transition: all .1s ease;
}

.dashboard-content__select-view {
    display: inline-block;
    margin-right: 22px;
}



.dashboard-controls {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard-controls__title {
    display: inline-block;
    width: $filter-title-width;
    font-family: $font-sans;
    font-size: $text-sm;
    font-weight: $weight-medium;
    letter-spacing: $letter-spacing-wider;
    color: $title-section-color;
    text-align: left;
    text-transform: uppercase;
}

.dashboard-controls__field {
    margin-left: $filter-field-spacing;
}

.dashboard-controls__sort {
    margin-left: auto;
}

.dashboard-controls__sort-title {
    display: inline-block;
    margin-right: 12px;
    font-family: $font-sans;
    font-size: $text-xs;
    font-weight: $weight-normal;
    letter-spacing: $letter-spacing-wider;
    color: $title-small-color;
    text-transform: uppercase;
}


.dashboard-selection {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.dashboard-selection__title {
    font-family: $font-sans;
    font-size: $text-base;
    font-weight: $weight-normal;
    letter-spacing: $letter-spacing-wide;
    color: $title-large-color;
}

.dashboard-selection__button {
    display: inline-flex;
    padding-right: 0;
    padding-left: 0;
    margin-left: 42px;
    font-family: $font-sans;
    font-size: $text-xs;
    font-weight: $weight-normal;
    letter-spacing: $letter-spacing-wider;
    color: $button-default-active-text-color;
    align-items: center;
}

.dashboard-selection__button-icon {
    margin-left: 8px;
}
