@import "css/base.scss";

.property-row {
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.property-row__image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    flex-grow: 0;
}

.property-row__name {
    padding-left: 20px;
    width: 25%;
    min-width: 250px;
    color: $hero-text-color;
}

.property-row__address {
    width: 25%;
    min-width: 300px;
    padding-left: 10px;
}
