@import "css/base.scss";

.property-row {
    display: flex;
    height: 64px;
    align-items: center;
    padding: 0 20px;
    font-family: $font-sans;
    font-size: $text-base;
    min-width: 700px;
    box-sizing: content-box;
}

.property-row__image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.property-row__name {
    padding-left: 20px;
    width: 25%;
    min-width: 250px;
    color: $content-text-primary-color;
}

.property-row__address {
    width: 25%;
    min-width: 300px;
    padding-left: 10px;
    color: $content-text-secondary-color;
    font-weight: $weight-light;
}
