@import "css/base.scss";

.delta-layout {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.delta-layout__section {
    font-size: $text-xs;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: $s12;
}
