@import "css/base.scss";

$selected-color: $blue-3;
$checkbox-spacing: 13.5px;
$option-spacing: 14px 0px;
$options-spacing: 10px 20px 0 30px;
$menu-max-height: 400px;
$controls-spacing: 50px 30px 22px;

.multi-select {
    &.select .select__option:active,
    &.select .select__option--is-focused,
    &.select .select__option--is-selected {
        background-color: $select-option-background-color;
    }

    &.select .select__option--is-selected {
        color: $select-option-color;
    }

    .select__menu {
        padding: 0;
    }

    .select__menu-list {
        padding: 0;
        max-height: none;
    }

    .multi-select__option {
        display: flex;
        padding: $option-spacing;
        cursor: pointer;
        align-items: flex-start;
    }
}

.multi-select--has-value {
    &.select__control {
        color: $input-text-color;
        background: $selected-color;
    }
}

.multi-select__option-label {
    margin-left: $checkbox-spacing;
}

.multi-select__label {
    font-size: $text-sm;
    line-height: $text-xl;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.multi-select__options {
    @include dark-scrollbar();
    overflow: auto;
    padding: $options-spacing;
    max-height: $menu-max-height;
}

.multi-select__checkbox {
    flex-shrink: 0;
    margin: 1.5px 0;
}

.multi-select__controls {
    display: flex;
    justify-content: space-between;
    margin: $controls-spacing;
}

.multi-select__button {
    width: 100px;
    height: 44px;
    font-size: $text-xs;
    font-weight: $weight-bold;
    letter-spacing: $letter-spacing-wider;
}

.multi-select.select--highlight {
    .select__option {
        &--is-selected {
            color: $select-highlight-option-color;
            background-color: $select-highlight-bg;
        }

        &--is-focused,
        &:active {
            background-color: $select-highlight-option-active-bg;
        }
    }

    .multi-select__options {
        padding: 0;
    }

    .multi-select__option {
        padding: 8px 12px;
    }

    .multi-select--has-value.select__control {
        color: $select-highlight-option-color;
        background: $select-highlight-bg;
    }

    .multi-select__option-label {
        margin-left: $s3;
    }
}
