@import 'css/base.scss';

$selected-color: $blue-3;
$checkbox-spacing: 13.5px;

.multi-select {
    &.select .select__option--is-focused,
    &.select .select__option--is-selected {
        background-color: $select-option-background-color;
    }

    .multi-select__option {
        display: flex;
        cursor: pointer;
        align-items: center;
    }
}

.multi-select--has-value {
    &.select__control {
        color: $input-text-color;
        background: $selected-color;
    }
}

.multi-select__option-label {
    margin-left: $checkbox-spacing;
}

.multi-select__label {
    line-height: $text-xl;
}
