@import "css/base.scss";

.report-page-subheader {
    background-color: $default-background-color;
    border-bottom: solid 1px $nav-link-border-color;

    .subheader__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-report-links {
        padding-top: 1.75rem;
    }

    .share-toggle {
        margin-top: 1.125rem;
        margin-bottom: 1.125rem;
        margin-left: auto;
    }
}
