@import "css/base.scss";

$body-border: 1px solid $gray-4;
$modal-spacing: 1.25rem;
$close-size: 1.25rem;
$button-line-height: 1.25rem;

.form-modal {
    min-width: 560px;
    padding: 0;
    border-radius: 4px;
}

.form-modal.modal-window {
    .modal-window__close {
        width: $close-size;
        height: $close-size;
        top: $modal-spacing;
        right: $modal-spacing;
    }
}

.form-modal__title {
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: $modal-spacing;
    box-sizing: border-box;
    line-height: 1.25rem;
    color: $title-large-color;
    font-size: $text-base;
}

.form-modal__content {
    padding: $modal-spacing;
    padding-bottom: 0;
    border-top: $body-border;
    border-bottom: $body-border;
}

.company-modal__controls {
    display: flex;
    justify-content: flex-end;
    padding: $modal-spacing;
}

.company-modal__save {
    padding: 12px 32px;
    font-size: $text-xs;
    font-weight: $weight-semibold;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: $button-line-height;
}

.company-modal__company-roles {
    display: inline-flex;
    flex-grow: 1;

    .select__control {
        width: 100%;
    }
}

.company-modal__lock {
    display: inline-flex;
    margin-left: $modal-spacing;
    flex-grow: 0;
}

.company-modal__lock.button {
    padding: 11px 30px;
}

.company-modal__inputs-wrap {
    display: flex;
}
