@import "css/base.scss";
@import "css/variables.scss";

$input-line-height: 1.25rem;
$simple-line-height: 1.625rem;

.input[type="text"] {
    padding: 9px 16px;
    border: $input-border;
    border-radius: 4px;
    box-sizing: border-box;
    color: $input-text-color;
    font-size: $text-sm;
    line-height: $text-xl;
    background-color: $input-background-color;

    &:focus {
        border: 1px solid $input-focus-border-color;
        color: $input-text-active-color;
        outline: none;
    }

    &::placeholder {
        color: $input-placeholder-color;
        font-size: $text-sm;
        opacity: 1;
    }
}

.input.input--highlight {
    width: 100%;
    padding: 11px;
    font-size: $text-sm;
    line-height: 20px;
    color: $input-highlight-color;
    background: transparent;
    border: 1px solid $input-highlight-border;
    border-radius: $input-border-radius;
    box-sizing: border-box;

    &:focus {
        color: $input-highlight-color;
        border: 1px solid $input-highlight-focus-border;
        outline: none;
    }
}

.input.input--gray {
    width: 100%;
    padding: 11px 12px;
    color: $input-text-color;
    font-size: $text-sm;
    border: 1px solid $gray-4;
    border-radius: 4px;
    background: transparent;
    line-height: $input-line-height;

    &:focus {
        color: $input-text-color;
        border-color: $input-highlight-focus-border;
        outline: none;
    }
}

.input.input--simple {
    padding: 0;
    color: $input-text-color;
    font-size: $text-sm;
    background: none;
    border: none;
    caret-color: $input-simple-caret-color;
    line-height: $simple-line-height;

    &:focus {
        color: $input-text-color;
        border: none;
    }
}
