@import 'css/base.scss';

$west-color: $green-1;
$south-color: $cyan-3;
$midwest-color: $green-2;
$northeast-color: $turquoise-3;
$dark-label-color: $gray-2;
$button-width: 140px;
$button-hover: rgba($gray-5, .5);
$button-spacing: 10px 16px;
$tooltip-margin: -8px -10px;

.regional-map--hover {
    .regional-map__region {
        fill: rgba($map-disable-color, .6);
    }

    .regional-map__label {
        fill: $map-label-hover-color;
    }
}

.regional-map--w {
    .regional-map__region--w {
        fill: $map-hover-color;
    }

    .regional-map__label--w {
        fill: $map-label-color;
    }
}

.regional-map--s {
    .regional-map__region--s {
        fill: $map-hover-color;
    }

    .regional-map__label--s {
        fill: $map-label-color;
    }
}

.regional-map--mw {
    .regional-map__region--mw {
        fill: $map-hover-color;
    }

    .regional-map__label--mw {
        fill: $map-label-color;
    }
}

.regional-map--ne {
    .regional-map__region--ne {
        fill: $map-hover-color;
    }

    .regional-map__label--ne {
        fill: $map-label-color;
    }
}

.regional-map__region {
    &--w {
        fill: $west-color;
    }

    &--s {
        fill: $south-color;
    }

    &--mw {
        fill: $midwest-color;
    }

    &--ne {
        fill: $northeast-color;
    }
}

.regional-map__label {
    font-family: $font-sans;
    font-size: $text-xs;
    font-weight: bold;
    letter-spacing: $letter-spacing-wider;
    text-transform: uppercase;
    fill: $map-label-color;

    &--s {
        fill: $dark-label-color;
    }
}

.regional-map__button-container {
    width: $button-width;
    margin: $tooltip-margin;
    overflow: hidden;
    border-radius: $border-radius-default;
}

.regional-map__button {
    display: block;
    padding: $button-spacing;
    font-size: $text-xs;
    letter-spacing: $letter-spacing-wide;
    color: $button-default-active-text-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: $button-hover;
    }
}
