@import "css/base.scss";

.share-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 13.5rem;
    height: 2.5rem;

    .button {
        margin-left: $s4;
    }
}
