@import "css/base.scss";

$button-default-bg: #273042;
$button-selected-bg: $blue;

.button {
    background-color: $button-default-bg;
    padding: $s3 $s4;
    border-radius: $border-radius-default;
    color: $gray-dark;
    outline: none !important;
    font-size: $text-sm;
    font-weight: 500;

    &:hover, &:focus {
        background-color: lighten($button-default-bg, 3%);
    }

    &:active {
        background-color: darken($button-default-bg, 2%);
    }

    &--selected {
        background-color: $button-selected-bg;
        color: $white;

        &:hover, &:focus {
            background-color: $button-selected-bg;
        }

        &:active {
            background-color: darken($button-selected-bg, 2%);
        }
    }
}