@import "css/base.scss";

.button {
    padding: $s3 $s4;
    border-radius: $border-radius-default;
    outline: none !important;
    font-size: $text-sm;
    text-decoration: none;

    &--block {
        width: 100%;
        display: block;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--default {
        background-color: $button-default-bg-color;
        color: $button-default-text-color;

        &:hover, &:focus {
            background-color: lighten($button-default-bg-color, 3%);
        }

        &:active {
            background-color: darken($button-default-bg-color, 2%);
        }
    }

    &--primary {
        background-color: $button-primary-bg-color;
        color: $button-primary-text-color;

        &:hover, &:focus {
            background-color: lighten($button-primary-bg-color, 3%);
        }

        &:active {
            background-color: darken($button-primary-bg-color, 2%);
        }
    }

    &--secondary {
        background-color: $button-secondary-bg-color;
        color: $button-secondary-text-color;

        &:hover, &:focus {
            background-color: lighten($button-secondary-bg-color, 3%);
        }

        &:active {
            background-color: darken($button-secondary-bg-color, 2%);
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $button-outline-border-color;
        color: $button-outline-text-color;

        &:hover, &:focus {
            background-color: transparent;
            border-color: lighten($button-outline-border-color, 3%);
        }

        &:active {
            background-color: transparent;
            border-color: darken($button-outline-border-color, 2%);
        }
    }

    &--transparent {
        background-color: transparent;

        &:hover, &:focus {
            background-color: transparent;
        }

        &:active {
            background-color: transparent;
        }
    }

    &--selected {
        background-color: $button-default-active-bg-color;
        color: $button-default-active-text-color;

        &:hover, &:focus {
            background-color: $button-default-active-bg-color;
        }

        &:active {
            background-color: darken($button-default-active-bg-color, 2%);
        }
    }

    &--disabled {
        background-color: $gray-4;
        color: $button-disabled-text-color;
        cursor: not-allowed;
        pointer-events: none;

        &:hover, &:focus, &:active {
            background-color: $button-default-bg-color;
        }
    }

    &--highlight {
        color: $button-highlight-text-color;
        background-color: $button-highlight-bg-color;

        &:hover, &:focus {
            background-color: lighten($button-highlight-bg-color, 3%);
        }

        &:active {
            background-color: darken($button-highlight-bg-color, 2%);
        }
    }
}
