@import "css/base.scss";

$table-bg-accent: rgba($gray-4, 0.5);

.modeling-comparison {
    padding-top: $s10;
    padding-bottom: $s10;

    .ReactTable {
        height: 100%;
        background-color: $panel-background-color;
        color: $content-text-primary-color;
        border-radius: $panel-border-radius;
        box-shadow: $panel-box-shadow;

        .rt-thead {
            color: $content-text-secondary-color;
            border-color: $table-border-color;
            border-bottom-width: 1px;
            box-shadow: none;
            font-size: 12px;
            font-weight: $weight-medium;
            letter-spacing: 1px;
            text-transform: uppercase;

            .rt-th {
                padding: 0;
                text-align: right;
                border: none;

                &>div {
                    padding: 44px 20px 36px 20px;
                }

                &:last-child {
                    &>div {
                        padding-right: 80px;
                    }
                }
            }
        }

        .rt-tbody {
            .rt-tr-group {
                border-bottom-width: 1px;
                border-color: $table-border-color;
            }

            .rt-td {
                padding: 0;
                text-align: right;
                font-size: $text-base;
                font-weight: $weight-light;
                line-height: 20px;
                border-color: $table-border-color;

                &>div {
                    padding: 18px 20px;
                }

                &:first-child {
                    color: $content-text-secondary-color;
                    font-weight: $weight-normal;
                    text-align: left;
                    line-height: 20px;

                    &>div {
                        display: flex;
                        padding: 18px 20px 18px 60px;
                    }

                    span.row-label-icon {
                        margin: -4px 8px 0 0;
                    }

                    span.row-label-text {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                &:last-child {
                    &>div {
                        padding-right: 80px;
                    }
                }
            }

            .rt-tr {
                &.accent {
                    background-color: $table-bg-accent;
                }
            }
        }
    }
}
