@import "css/base.scss";
@import "css/variables.scss";

.modeling-view {
    &__subnav {
        margin-top: $s10;
        max-width: 60%;
    }
    &__campaign-dates {
        padding-top: 40px;
        padding-right: 10px;
        float: right;
        font-size: $text-lg;
        color: $default-ui-text-color;
    }
}
