@import "css/base.scss";

$users-icon-size: 32px;
$users-icon-spacing: 10px;
$users-icon-border-color: $gray-4;
$users-icon-border-width: 2px;
$users-icon-color: $highlight-gray-3;
$users-icon-bg: $gray-9;
$users-icon-count-spaces: 6px;

.users-icon {
    display: flex;
    padding-left: $users-icon-spacing;
    border-color: $users-icon-border-color;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.users-icon__icon {
    position: relative;
    display: flex;
    width: $users-icon-size;
    height: $users-icon-size;
    margin-left: -$users-icon-spacing;
    font-size: $text-xs;
    line-height: $line-height-loose;
    color: $users-icon-color;
    border: $users-icon-border-width solid;
    border-color: inherit;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.users-icon__img {
    position: absolute;
    width: $users-icon-size - $users-icon-border-width * 2;
    height: $users-icon-size - $users-icon-border-width * 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.users-icon__count {
    display: flex;
    width: $users-icon-size;
    height: $users-icon-size;
    margin-left: $users-icon-count-spaces;
    font-family: $font-sans;
    font-size: $text-xs;
    line-height: 20px;
    color: $users-icon-color;
    background: $users-icon-bg;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
