@import 'css/base.scss';

$field-min-height: 20px;
$input-height: 100%;
$input-offset: 16px;
$search-icon-size: 16px;
$close-icon-size: 10px;
$icon-color: $highlight-gray-3;


.search-field {
    position: relative;
    display: flex;
    width: 100%;
    min-height: $field-min-height;
    align-items: center;

    .search-field__input {
        width: 100%;
        height: $input-height;
        padding: 0;
        font-family: $font-sans;
        font-size: $text-base;
        line-height: $input-height;
        color: $input-text-color;
        border: none;
        caret-color: $input-caret-color;

        &::placeholder {
            color: $default-text-color;
        }
    }
}

.search-field__input-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $input-offset + $search-icon-size;
    max-width: 0;
    overflow: hidden;
    background-color: $default-background-color;
    transition: all .1s ease;
}

.search-field__icon {
    display: inline-block;
    width: $search-icon-size;
    height: $search-icon-size;
    color: $icon-color;
    cursor: pointer;
}

.search-field__icon-close {
    display: none;
    width: $close-icon-size;
    height: $close-icon-size;
    cursor: pointer;
}

.search-field__icon-search {
    display: inline-block;
    width: $search-icon-size;
    height: $search-icon-size;
    cursor: pointer;
}

.search-field__children {
    width: 100%;
    margin-left: $input-offset;
}

.search-field--active {
    .search-field__input-wrapper {
        right: 0;
        max-width: 100%;
        transition: all .5s ease;
    }

    .search-field__icon-close {
        display: inline-block;
    }

    .search-field__icon-search {
        display: none;
    }
}
