@import "css/base.scss";

$title-color: $highlight-gray-3;
$title-line-height: 1.25rem;
$icon-size: $text-sm;

.password-tooltip {
    padding: 8px 13px 12px 7px;
    font-family: $font-sans;
}

.password-tooltip__title {
    color: $title-color;
    font-size: $text-sm;
    line-height: $title-line-height;
}

.password-tooltip__rules {
    margin-top: 10px;
}

.password-tooltip__rule {
    display: flex;

    align-items: center;

    & + .password-tooltip__rule {
        margin-top: 14px;
    }

    &--ok {
        .password-tooltip__icon {
            &--default {
                display: none;
            }

            &--ok {
                display: block;
            }
        }
    }

    &--error {
        .password-tooltip__icon {
            &--default {
                display: none;
            }

            &--error {
                display: block;
            }
        }
    }
}

.password-tooltip__icon {
    width: $icon-size;
    height: $icon-size;
    margin-right: 10px;

    &--default {
        background: $gray-6;
        border-radius: 50%;
    }

    &--ok {
        display: none;
        color: $green-7;
        border-radius: 50%;
    }

    &--error {
        display: none;
        color: $orange-6;
    }
}

.password-tooltip__text {
    font-size: $text-xs;
    line-height: 20px;
    color: $gray-6;
}
