@import "css/base.scss";

$select-width: 180px;
$date-picker-width: 240px;
$field-height: 44px;
$field-spacing: 8px;
$border-color: $gray-4;

.date-range-selector {
    display: flex;
}

.date-range-selector__select {
    display: inline-block;
    width: $select-width;
    height: $field-height;
    vertical-align: top;
}

.date-range-selector__data-picker {
    display: inline-block;
    width: $date-picker-width;
    margin-left: $field-spacing;
    vertical-align: top;
}
