@import "css/base.scss";

.large-box {
    display: flex;
    flex-direction: column;
    padding: $s6;
    height: 236px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.large-box__name {
    color: $gray-lightest;
    font-size: $text-xs;
    font-weight: 700;
    text-transform: uppercase;
    line-height: $line-height-loose;
}

.large-box__detail {
    color: $default-ui-text-color;
    font-size: $text-sm;
}

.large-box__outer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.large-box__inner-content {
    color: $lightest-ui-text-color;
    font-family: $font-mono;
    font-size: $text-6xl;
    font-weight: $weight-hairline;
    padding: $s2 0;
    width: 100%;
}

.large-box__inner-box {
    width: $s48;
    height: $s48;
    background: transparent;
    overflow: hidden;
}
