@import "css/base.scss";

.large-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    height: 236px;

    &__top-line {
        color: $title-small-color;
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.25rem;
        height: 2.875rem;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }

    &__bottom-line {
        color: $content-text-secondary-color;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;
    }

    &__content {
        text-align: center;
        position: relative;
        margin: 0.5rem 0;
    }

    &__content-value {
        color: $hero-text-color;
        font-family: $font-mono;
        font-size: 3.875rem;
        font-weight: 100;
        letter-spacing: -2px;
        line-height: 4.5rem;
    }

    &__content-extra {
        position: absolute;
        bottom: 0.5rem;
        left: 100%;
        width: 4rem;
        margin-left: 1.5rem;
    }

    &__content-graph {
        width: 4rem;
        height: 3rem;
    }

    &__content-delta {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        text-align: center;
    }    
}
