@import "css/base.scss";

.large-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 236px;
    padding: 30px 24px 12px 24px;

    &__top-line {
        color: $title-small-color;
        font-size: 12px;
        font-weight: $weight-bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 20px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }

    &__bottom-line {
        color: $content-text-secondary-color;
        font-weight: $weight-normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }

    &__content {
        text-align: center;
        position: relative;
        margin: 8px 0 8px 0;
    }

    &__content-value {
        color: $hero-text-color;
        font-size: $text-6xl;
        font-weight: $weight-light;
        letter-spacing: -2px;
        line-height: 72px;
    }

    &__content-extra {
        position: absolute;
        bottom: 0.5rem;
        left: 100%;
        width: 4rem;
        margin-left: 1.5rem;
    }

    &__content-graph {
        width: 4rem;
        height: 2.75rem;
    }

    &__content-delta {
        margin-top: 0.25rem;
        font-size: 0.75rem;
        text-align: center;
    }
}
