@import "css/base.scss";

$input-padding: 7px;
$panel-width: 450px;
$suggestion-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
$suggestion-padding: 20px;
$text-height: 1.625rem;
$controls-border: 1px solid $gray-4;
$tag-padding: 8px 10px;
$tag-color: $highlight-gray-3;
$tag-bg: $gray-4;
$tag-hover-bg: #323C47;
$tag-border-radius: 4px;
$tag-line-height: 1.625rem;
$tag-count-color: $content-text-secondary-color;
$tag-count-spacing: 10px;
$tags-spacing: 20px;

.add-tag-field {
    position: relative;
}

.input.add-tag-field__input {
    padding: $input-padding 0 $input-padding 0;
}

.add-tag-field__suggestion {
    position: absolute;
    top: 40px;
    left: 0;
    width: $panel-width;
    box-shadow: $suggestion-shadow;
}

.add-tag-field__suggestion-text {
    color: $title-section-color;
    font-size: $text-sm;
    line-height: $text-height;
}

.add-tag-field__suggestion-content {
    padding: $suggestion-padding;
}

.add-tag-field__suggestion-controls {
    padding: $suggestion-padding;
    border-top: $controls-border;
    box-sizing: border-box;
}

.add-tag-field__suggestion-tags {
    padding: 0 $suggestion-padding;
}

.add-tag-field__suggestion-tag {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: $tag-padding;
    margin: 0 $tags-spacing $tags-spacing 0;
    color: $tag-color;
    font-size: $text-sm;
    background-color: $tag-bg;
    border-radius: $tag-border-radius;
    line-height: $tag-line-height;
    cursor: pointer;

    &:hover {
        background-color: $tag-hover-bg;
    }
}

.add-tag-field__suggestion-tag-count {
    margin-left: $tag-count-spacing;
    color: $tag-count-color;
}

.add-tag-field__suggestion-tag-name-word {
    text-decoration: underline;
}
