@import 'css/base.scss';

$modal-width: 35rem;
$modal-padding: 1.25rem;

$dark-theme-background: $gray-3;
$dark-theme-text-color: $highlight-gray-3;
$dark-theme-border-color: $gray-4;

$light-theme-background: $white;
$light-theme-text-color: $gray-3;
$light-theme-border-color: $gray-10;

.address-modal.modal-window {
    width: $modal-width;
    padding: 0;
    position: relative;
    line-height: 1.25rem;

    .modal-window__head {
        border-bottom: 1px solid;
        height: unset;
        padding: $modal-padding;
    }

    .modal-window__close {
        top: $modal-padding;
        right: $modal-padding;
    }

    .address-modal__body {
        border-bottom: 1px solid;
        font-size: $text-sm;
        padding: $modal-padding;

        p {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .address-caption {
            font-weight: $weight-medium;
            margin-bottom: 1rem;
        }
    }

    .address-modal__footer {
        padding: $modal-padding;
        display: flex;
        justify-content: space-between;
    }

    &.address-modal--theme-dark {
        background-color: $dark-theme-background;

        .modal-window__head,
        .address-modal__body {
            color: $dark-theme-text-color;
            border-color: $dark-theme-border-color;
        }
        .modal-window__close > svg {
            fill: $dark-theme-text-color;
        }
    }

    &.address-modal--theme-light {
        background-color: $light-theme-background;

        .modal-window__head,
        .address-modal__body {
            color: $light-theme-text-color;
            border-color: $light-theme-border-color;
        }
        .modal-window__close > svg {
            fill: $light-theme-text-color;
        }
    }
}
