@import "css/base.scss";

$select-width: 180px;
$date-picker-width: 240px;
$field-height: 44px;
$field-spacing: 8px;
$border-color: $gray-4;
$report-span-dropdown-background: #232837;

.date-range-selector {
    float: right;
    cursor: pointer;
    display: flex;
    vertical-align: middle;
    margin: 0;
    padding: $s2 $s4;
    border-radius: $border-radius-default;
    background-color: $report-span-dropdown-background;
}

.date-range-selector__select {
    display: inline-block;
    width: $select-width;
    height: $field-height;
    vertical-align: top;
}

.date-range-selector__data-picker {
    display: inline-block;
    width: $date-picker-width;
    margin-left: $field-spacing;
    vertical-align: top;
}
