@import "css/variables.scss";

.market-size-map {
    width: 100%;
    height: 100%;
    background-color: $map-background-color;

    .radius-text-rotated {
        width: 190px;
        font-family: $font-sans;
        font-size: $text-xl;
        font-weight: $weight-light;
        color: $map-circle-point-color;
        text-align: center;
        transform: rotate(40deg);
        transform-origin: 90px -115px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .zip-code-label {
        width: 60px;
        font-size: $text-sm;
        font-weight: $weight-light;
        color: $map-zip-label-color;
        letter-spacing: 0.5px;
        text-align: center;
        position: absolute;
        left: -30px;
        top: -8px;
    }

    // hide "Map data @2019" and "Terms of Use"
    // .gmnoprint {
    //   display: none;
    // }
}
