@import "css/variables.scss";

.market-size-map {
    width: 100%;
    height: 100%;
    background-color: $map-background-color;

    .radius-text-rotated {
        position: absolute;
        max-width: 120px;
        padding: 4px 12px;
        color: $map-radius-text-color;
        font-size: $text-xs;
        font-weight: $weight-medium;
        line-height: $text-xs;
        letter-spacing: 0.5px;
        background-color: $map-circle-point-color;
        border-radius: 11.55px;
        transform: translateX(-50%) translateY(-50%) rotate(40deg);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .zip-code-text {
        width: 60px;
        font-size: $text-sm;
        font-weight: $weight-light;
        color: $map-zip-text-color;
        letter-spacing: 0.5px;
        text-align: center;
        position: absolute;
        left: -30px;
        top: -8px;
    }

    // hide "Map data @2019" and "Terms of Use"
    // .gmnoprint {
    //   display: none;
    // }
}
