@import "css/base.scss";
@import "css/variables.scss";

$input-width: 340px;

.add-property-form {
    display: flex;
    flex-direction: row;

    .add-property-form__submit {
        padding: 0.75rem 2.625rem;
        line-height: $text-xl;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.add-property-form__input {
    width: $input-width;

    &--city {
        width: 150px;
        margin-right: 8px;
    }
    &--state {
        width: 82px;
        margin-right: 8px;
    }
    &--zipcode {
        width: 92px;
    }
}

.add-property-form__field {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 12px;

    &--button {
        margin-top: 28px;
        margin-bottom: 0;
    }
}

.add-property-form__label {
    flex-shrink: 0;
    width: 160px;
    color: #f5faf7;
    font-size: $text-xs;
    letter-spacing: 1px;
    line-height: $text-xl;
    text-transform: uppercase;
}

.add-property-form__fields-wrap {
    display: flex;
    flex-wrap: wrap;
}

.add-property-form__submit-wrap {
    width: $input-width;
    display: flex;
    justify-content: flex-end;
}

.add-property-form__column {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.add-property-form__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-image: url("../../../images/remarkably-auth-form-side.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.add-property-form__file {
    padding: 6px 14px;
    color: #f5faf7;
    font-size: $text-xs;
    letter-spacing: 1px;
    line-height: $text-xl;
    border: 1px solid #f5faf7;
    border-radius: 2px;
    background-color: $button-default-bg-color;
    cursor: pointer;

    &:hover, &:focus {
        background-color: lighten($button-default-bg-color, 3%);
    }

    &:active {
        background-color: darken($button-default-bg-color, 2%);
    }
}

.add-property-form__photo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add-property-form__close-image {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 0;
    right: 0;
    cursor: pointer;
}
