@import "css/base.scss";

$row-height: 150;
$row-background: $gray-3;
$border-color: $gray-4;
$image-size: 50px;
$image-spacing: 3.75rem;
$opening-image-spacing: $s5;
$image-border-radius: 50%;
$title-width: 200px;
$title-spacing: 20px;
$title-height: 20px;
$value-height: 28px;
$value-font-size: 1.75rem;
$target-height: 16px;
$target-spacing: 6px;
$empty-text-size: 1.75rem;
$opening-icon-spacing: $s8;

.portfolio-property-group-row {
    height: $row-height + px;
    overflow: hidden;
    transition: height .2s linear;
}

.portfolio-property-group-row__group {
    display: flex;
    height: $row-height + px;
    font-family: $font-sans;
    background: $row-background;
    border-bottom: 1px solid $border-color;
    align-items: center;

    &:before {
        display: none;
        width: 8px;
        height: 16px;
        margin-left: $opening-icon-spacing;
        background-image: url(../../../images/icon-arrow-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        transition: all .1s ease;
    }

    &--open {
        &:before {
            transform: rotate(90deg);
        }
    }

    &--opening {
        cursor: pointer;

        &:before {
            display: inline-block;
        }

        .portfolio-property-group-row__image {
            margin-left: $opening-image-spacing;
        }
    }
}


.portfolio-property-group-row__image {
    width: $image-size;
    height: $image-size;
    margin-left: $image-spacing;
    background-color: $gray-2; // in case of image missing
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $image-border-radius;
    flex-shrink: 0;
}

.portfolio-property-group-row__title {
    width: $title-width;
    margin-left: $title-spacing;
    white-space: nowrap;
}

.portfolio-property-group-row__name {
    height: $title-height;
    font-size: $text-xl;
    line-height: $title-height;
    color: $column-header-regular-color;
}

.portfolio-property-group-row__property-count {
    height: $title-height;
    font-size: $text-sm;
    line-height: $title-height;
    color: $column-header-medium-color;
}

.portfolio-property-group-row__kpis {
    display: flex;
    margin-left: auto;
}

.portfolio-property-group-row__kpi {
    width: $portfolio-property-kpi-width;
    text-align: center;
}

.portfolio-property-group-row__value {
    height: $value-height;
    font-size: $value-font-size;
    line-height: $value-height;
    color: $column-header-regular-color;

    &:empty:before {
        display: block;
        height: $value-height;
        content: '\2014';
        font-size: $empty-text-size;
    }
}

.portfolio-property-group-row__target {
    height: $target-height;
    margin-top: $target-spacing;
    font-size: $text-xs;
    line-height: $target-height;
    color: $column-header-medium-color;
    white-space: nowrap;
}

:export {
    portfolioPropertyGroupRowHeight: $row-height;
}
