@import "css/base.scss";

.formatted-value-with-symbol {
    &__plus {
        color: $accent-up-color;
    }
    &__minus {
        color: $accent-down-color;
    }
    &__times {
        color: $accent-times-color;
    }
}
