@import "../../../css/variables.scss";

.estimated-market-size-overview {
  background-color: #1A202E; /* remark-ui-dark */
  border: 1px solid #161C29; /* remark-ui-border-dark */
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 20px 60px;
  margin: $panel-spacing;
}

.estimated-market-size-overview__heading {
  color: #FFFFFF; /* remark-ui-text-lightest */
  border-bottom: 1px solid $table-border-color; /* #3D4555 */
  padding: 24px 0 40px 0;
}

.estimated-market-size-overview__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px -20px;
}
