@import "css/base.scss";

.estimated-market-size-overview {
  padding: 20px 60px;
}

.estimated-market-size-overview__heading {
  color: #ffffff; /* remark-ui-text-lightest */
  border-bottom: 1px solid $table-border-color; /* #3D4555 */
  padding: 24px 0 40px 0;
}

.estimated-market-size-overview__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px -20px;
}
