@import "css/base.scss";

$header-height: 76px; // was $s16
$header-quarter-height: 19px; // was $s4
$header-half-inset: 36px;

.page-header {
    background-color: $page-header-bg-color;
    font-family: $font-headline;

    &__inner {
        height: $header-height;
        line-height: $line-height-tight;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-content: space-between;
    }

    &__items-inner {
        display: grid;
        grid-template-columns: 1fr;
        font-family: $font-sans;
        padding: 0;
    }

    &__items-outer {
        grid-column-start: 3;
        justify-self: end;
    }

    &__item {
        display: block;
        padding: 0 0 0 $header-half-inset;
    }

    &__nav {
        margin: 0 auto;
    }
}
