@import "css/base.scss";

$header-height: 76px; // was $s16
$header-quarter-height: 19px; // was $s4
$header-half-inset: 36px;

.page-header {
    background-color: $page-header-bg-color;
    font-family: $font-headline;

    &__inner {
        height: $header-height;
        line-height: $line-height-tight;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $s5;
        padding-bottom: $s5;
    }

    &__items-inner {
        display: block;
        font-family: $font-sans;
        padding: 0;
    }

    &__item {
        display: block;
        padding: 0 0 0 $header-half-inset;
    }
}

.page-header__nav {
    margin: 0 auto;
}
