@import "css/base.scss";

.project-tabs {
    padding: 0;
    margin-top: $s12;
    margin-bottom: $s8;
}

.project-tabs ul {
    display: inline-block;
    text-align: center;
    list-style-position: inside;
    margin-left: -$s4;
}

.project-tabs li {
    cursor: pointer;
    display: inline-block;
    margin: 0 $s4;
    padding-bottom: $s4;
    color: $default-ui-text-color;
}

.project-tabs li.selected {
    color: $lightest-ui-text-color;
    border-bottom: solid 1px #3188ff;
}

.project-tabs li:hover {
    color: $default-ui-text-color;
}

.project-tabs .rightmost {
    position: absolute;
    right: 0;
}

.project-tabs .above-top {
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
}
