@import "css/base.scss";

$status-text-height: 18px;
$status-text-size: 11px;

.property-status {
    border: 1px solid transparent;
    display: inline-block;
    padding: 0 6px;
    font-family: $font-sans;
    font-size: $status-text-size;
    letter-spacing: 0.5px;
    line-height: $status-text-height;
    text-align: center;
    white-space: nowrap;

    &--on-track {
        border-color: $property-status-color-on-track;
        color: $property-status-color-on-track;
    }

    &--at-risk {
        border-color: $property-status-color-at-risk;
        color: $property-status-color-at-risk;
    }

    &--off-track {
        border-color: $property-status-color-requires-review;
        color: $property-status-color-requires-review;
    }

    &--not-available {
        height: 20px;
    }
}
