@import "css/base.scss";

$tooltip-background-color: $gray-2;
$tooltip-text-color: $content-text-primary-color;
$tooltip-icon-color: $content-text-secondary-color;
$tooltip-highlight-bg: $white;
$tooltip-highlight-color: $content-text-secondary-color;
$tooltip-dark-bg: $gray-1;
$tooltip-dark-color: $content-text-secondary-color;
$tooltip-border-radius: 4px;

.rmb-tooltip {
    font-family: $font-sans;
    font-size: $text-sm;
    line-height: 1.625rem;
    opacity: 1;

    .rc-tooltip-inner {
        max-width: 320px;
        padding: 10px;
        color: $tooltip-text-color;
        white-space: normal;
        background-color: $tooltip-background-color;
    }

    .rc-tooltip-arrow {
        width: 30px;
        height: 12px;
        margin: 0;
        background-image: url(images/arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }

    &.rc-tooltip-placement-left .rc-tooltip-arrow {
        right: -11px;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
        right: -11px;
        transform: translateY(50%) rotate(-90deg);
    }

    &.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
        right: -11px;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.rc-tooltip-placement-right .rc-tooltip-arrow {
        left: -11px;
        transform: translateY(-50%) rotate(90deg);
    }

    &.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
        left: -11px;
        transform: translateY(50%) rotate(90deg);
    }

    &.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
        left: -11px;
        transform: translateY(-50%) rotate(90deg);
    }

    &.rc-tooltip-placement-bottom .rc-tooltip-arrow {
        top: -2px;
        transform: translateX(-50%) rotate(180deg);
    }

    &.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
        top: -2px;
        left: 8px;
        transform: rotate(180deg);
    }

    &.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
        top: -2px;
        right: 8px;
        transform: rotate(180deg);
    }

    &.rc-tooltip-placement-top .rc-tooltip-arrow {
        bottom: -2px;
        transform: translateX(-50%);
    }

    &.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
        bottom: -2px;
        left: 8px;
    }

    &.rc-tooltip-placement-topRight .rc-tooltip-arrow {
        right: 8px;
        bottom: -2px;
    }
}

.rmb-tooltip--highlight {
    .rc-tooltip-inner {
        color: $tooltip-highlight-color;
        background-color: $tooltip-highlight-bg;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 20px 30px rgba(0, 0, 0, .2);
        border-radius: $tooltip-border-radius;
    }

    .rc-tooltip-arrow {
        background-image: url(images/arrow-highlight.svg);
    }
}

.rmb-tooltip--dark {
    .rc-tooltip-inner {
        color: $tooltip-dark-color;
        background-color: $tooltip-dark-bg;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 20px 30px rgba(0, 0, 0, .2);
        border-radius: $tooltip-border-radius;
    }

    .rc-tooltip-arrow {
        background-image: url(images/arrow-dark.svg);
    }
}

.rmb-tooltip__text {
    margin: 10px;
    font-size: $text-sm;
    line-height: 1.625rem;
    text-align: center;
}

.rmb-tooltip__link {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

.rmb-tooltip__button {
    display: flex;
    height: 30px;
    min-width: 300px;
    padding: 9px;
    font-size: $text-xs;

    align-items: center;
    justify-content: center;
}

.rmb-tooltip__button-text {
    margin-left: auto;
    color: $tooltip-text-color;
}

.rmb-tooltip__button-icon {
    margin-left: auto;
    color: $tooltip-icon-color;

    .rc-tooltip-arrow {
        background-image: url(images/arrow-highlight.svg);
    }
}
