@import "css/base.scss";

.estimated-population {
    display: flex;
    justify-content: space-between;
    margin: $panel-spacing;
}

.estimated-population__figure-wrapper {
    flex: 1 1 30%;
    max-width: 420px;
    margin-right: 32px;
}

.estimated-population__map-wrapper {
    flex: 1 1 70%;
    max-width: 868px;
    height: 452px;
}

.estimated-population__figure {
    height: 100%;
    text-align: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .figure__label {
        color: $highlight-gray-3;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    .figure__value {
        color: $highlight-gray-3;
        font-size: 60px;
        margin-bottom: 10px;
    }

    .figure__description {
        color: $gray-6;
        font-size: 16px;
        line-height: 28px;
    }
}
