@import "css/base.scss";
@import "css/variables.scss";

.modal-window {
    max-width: unset;
    min-height: 220px;
    padding: 44px 60px 48px 60px;
    background-color: $modal-window-background-color;
    border-radius: $modal-window-border-radius;
    box-shadow: none;
}

.modal-overlay {
    background-color: $modal-window-overlay-color;
}

.modal-window__close {
    position: absolute;
    top: 48px;
    right: 60px;
    width: 28px;
    height: 28px;
    &:focus {
        outline: none;
    }

    & > svg {
        fill: $white;
        width: 100%;
        height: 100%;
    }
}

.modal-window__head {
    height: 35px;
    margin-bottom: 41px;
    line-height: 35px;
    color: $title-large-color;
    font-size: 28px;
}

.modal-window__body {
    padding: 0;
}

.modal-window--small {
    font-family: $font-sans;
    padding: 30px;

    .modal-window__close {
        top: 30px;
        right: 30px;
        width: 20px;
        height: 20px;
    }

    .modal-window__head {
        height: $s5;
        margin: 0;
        font-size: $text-base;
        line-height: $line-height-tight;
    }
}
