@import "css/base.scss";
@import "css/variables.scss";

.modal-window {
    max-width: unset;
    min-width: 320px;
    min-height: 220px;
    padding: 44px 60px 48px 60px;
    background-color: #20272e;
    border-radius: 6px;
    box-shadow: none;
}

.modal-overlay {
    background-color: rgba(16,20,23,0.85);
}

.modal-window__close {
    position: absolute;
    top: 55px;
    right: 60px;
    width: 13px;
    height: 14px;
    background-image: url('./../../../images/close-icon.svg');
    &:focus {
        outline: none;
    }
}

.modal-window__head {
    height: 35px;
    margin-bottom: 41px;
    line-height: 35px;
    color: #f5faf7;
    font-size: 28px;
}

.modal-window__body {
    padding: 0;
}
