@import 'css/base.scss';

$sort-field-spacing: 12px;
$sort-icon-spacing: 11px 15px;
$border-color: $gray-4;

.sort-select {
    display: flex;
    text-align: left;
    align-items: center;
}

.sort-select__title {
    display: inline-block;
    margin-right: $sort-field-spacing;
    font-family: $font-sans;
    font-size: $text-xs;
    font-weight: $weight-normal;
    letter-spacing: $letter-spacing-wide;
    color: $input-label-color;
    text-transform: uppercase;
}

.sort-select__field-wrapper {
    display: flex;
    border: 1px solid $border-color;
    border-radius: $select-border-radius;
    align-items: center;
    flex-grow: 1;
}

.sort-select__field {
    min-width: auto;
    border-right: 1px solid $border-color;
    flex-grow: 1;

    &.select {
        .select__control {
            border: none;
            border-radius: 0;
        }

        .select__menu-list {
            max-height: none;
        }

        .select__control--menu-is-open {
            background: $select-active-background;
        }

        .select__single-value {
            color: $input-text-color;
        }
    }
}

.sort-select__icon {
    padding: $sort-icon-spacing;
    color: $input-label-color;
    cursor: pointer;

    &--reverse {
        transform: scale(1, -1);
    }
}
