@import "css/base.scss";

.delta-indicator {
    &__trend-up {
        color: $delta-indicator-up-color;
    }

    &__trend-down {
        color: $delta-indicator-down-color;
    }

    &__trend-flat {
        color: $delta-indicator-flat-color;
    }

    &__arrow {
        font-size: 80%;
        vertical-align: middle;
    }

    &__delta {
        color: $content-text-primary-color;
        letter-spacing: 1px;
        vertical-align: middle;
    }
}
