@import "css/base.scss";

$add-member-size: 40px;
$add-member-spacing: 28px;

.project-report-page__subheader {
    background-color: $default-background-color;
    border-bottom: solid 1px $nav-link-border-color;

    .subheader-report-tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-report-links {
        padding-top: 1.75rem;
    }

    .share-toggle {
        margin: 1.375rem 0 0.875rem auto;
    }
}

.project-report-page__content {
    position: relative;
}

.project-report-page__subnav {
    display: flex;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.project-report-page__subnav-right {
    display: flex;
}

.project-report-page__members {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-report-page__add-member {
    width: $add-member-size;
    height: $add-member-size;
    margin-right: $add-member-spacing;
    cursor: pointer;
}

.insights-button {
    margin-right: 23px;
}

.insights-button__icon {
    width: $s2;
    height: $s4;
    margin-right: $s2;
}

.test-animation {
    transition: all 1s ease;
}
