@import "css/base.scss";

$complete-account-field-height: 44px;
$complete-account-field-spacing: 20px;
$complete-account-field-min-width: 130px;
$complete-account-terms-spacing: 50px;
$complete-account-button-spacing: 20px;
$complete-account-checkbox-spacing: 10px;
$complete-account-link-color: $gray-3;

$button-line-height: 1.25rem;
$edit-button-top-padding: 12px;
$edit-button-inbox-padding: 8px 10px;

$value-field-margin: 30px;
$value-spacing: 4px;
$value-color: $gray-1;
$value-line-height: 1.25rem;
$value-title-line-height: 1.25rem;

.complete-account {
    .form-field__input-container {
        height: $complete-account-field-height;
    }

    .complete-account__field-set {
        display: flex;
    }
}

.complete-account__section-label {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 50px;
    color: $gray-3;
    font-size: 20px;

    &--first {
        padding-top: 16px;
    }
}

.complete-account__field {
    min-width: $complete-account-field-min-width;

    .form-field__label {
        color: $gray-9;
    }
}

.complete-account__field + .complete-account__field {
    margin-left: $complete-account-field-spacing;
}

.complete-account__terms {
    display: flex;
    align-items: center;
    margin-top: $complete-account-terms-spacing;
    font-size: $text-xs;
}

.complete-account__checkbox {
    margin-right: $complete-account-checkbox-spacing;
}

.complete-account__link {
    color: $complete-account-link-color
}

.complete-account__button {
    margin-top: $complete-account-button-spacing;
    line-height: $button-line-height;
    font-size: $text-xs;
    font-weight: bold;
    letter-spacing: $letter-spacing-wider;
}

.complete-account__edit-button {
    width: 100%;
    padding-top: $edit-button-top-padding;
    padding-bottom: $edit-button-top-padding;
    line-height: $button-line-height;
    font-size: $text-xs;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--in-box {
        width: auto;
        padding: $edit-button-inbox-padding;
        margin-left: auto;
        font-weight: $weight-normal;
        letter-spacing: normal;
        text-transform: capitalize;
    }
}

.complete-account__field-value + .complete-account__field-value {
    margin-top: $value-field-margin;
}

.complete-account__field-label {
    color: $gray-9;
    font-size: $text-xs;
    letter-spacing: 1px;
    line-height: $value-title-line-height;
    text-transform: uppercase;
}

.complete-account__value {
    margin-top: $value-spacing;
    line-height: $value-line-height;
    font-size: $text-sm;
    color: $value-color;
}
