@import "css/base.scss";

$pie-chart-size: 70px;

.age-range-population-size {
    display: flex;
    align-items: center;

    &__chart {
        width: $pie-chart-size;
        margin-right: $s10;
    }

    &__info {
        padding: $s4;
    }

    &__age-group {
        font-size: $text-sm;
        font-weight: $weight-medium;
        line-height: $line-height-loose;
        letter-spacing: 0.5px;
        color: $content-text-primary-color;
        text-transform: uppercase;
    }

    &__market-size {
        font-size: $text-3xl;
        margin: $s1 0;
        color: $content-text-primary-color;
    }

    &__segment {
        font-size: $text-sm;
        line-height: $line-height-loose;
        color: $content-text-secondary-color;
    }
}
