@import "css/base.scss";

$age-range-population-size-bg-color: $bluegray-dark;

.age-range-population-size {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: $age-range-population-size-bg-color;
}

.age-range-population-size span:first-child {
    /*font-size: 0.875rem;*/
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: $lightest-ui-text-color;
    text-transform: uppercase;
}

.age-range-population-size span:nth-child(2) {
    /*font-size: 2.75rem;*/
    font-size: 44px;
    margin: 16px 0 14px 0;
    color: $lightest-ui-text-color;
}

.age-range-population-size span:nth-child(3) {
    /*font-size: 0.875rem;*/
    font-size: 14px;
    line-height: 26px;
    color: #6d778d; /*color not defined in theme*/
}
