@import "css/base.scss";

.age-range-population-size {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: $panel-background-color;
}

.age-range-population-size span:first-child {
    font-size: 12px;
    font-weight: $weight-bold;
    line-height: 16px;
    letter-spacing: 1px;
    color: $content-text-primary-color;
    text-transform: uppercase;
}

.age-range-population-size span:nth-child(2) {
    font-size: 36px;
    line-height: 48px;
    margin: 16px 0 14px 0;
    color: $content-text-primary-color;
}

.age-range-population-size span:nth-child(3) {
    font-size: 14px;
    line-height: 26px;
    color: #6d778d; /*color not defined in theme*/
}
