@import "./base.scss";

// The app-wide site header
$header-bg-color: $blue;
$header-link-color: $blue-light;

.k-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $spacing-8;
    height: $spacing-16;
    width: 100%;

    background-color: $header-bg-color;

    h1 {
        font-size: $text-xl;
        font-weight: $weight-normal;
    }

    a.nav-link {
        color: $header-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.k-footer {
    display: block;
    position: absolute;
    bottom: 0;
    height: $spacing-16;
    padding: $spacing-4;
    width: 100%;
    font-size: $text-sm;
    text-align: center;
}

// the outer content container
.k-outer {
    margin: 0 auto;
    max-width: 70rem;
}

// the inner content container
.k-inner {
    padding: $spacing-16;
}

.k-rectangle {
    background-color: $bluegray-dark;
    border: solid 1px $bluegray-dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.k-report-table {
    border-collapse: separate;
    border-spacing: 0 0.5em;

    tr > th {
        padding: $spacing-2;
        font-family: $font-sans;
        font-weight: $weight-normal;
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }

    tr > td {
        padding: $spacing-2;
        font-family: $font-mono;
        text-align: right;
    }
}

.k-dropdown {
    /* custom styled dropdown */
    margin: 0;
    padding: 0;
    background: transparent;
    color: $default-text-color;
}

.k-funnel-label {
    /* container for layout (matching row height) */
    height: $spacing-24;
    margin-top: $spacing-8;
    margin-bottom: -$spacing-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.k-funnel-label > div:first-child {
    /* rounded corner container */
    height: $spacing-24;
    width: 100%;
    border-radius: $border-radius-lg;
    border: solid 1px $bluegray-dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.k-funnel-label > div:last-child {
    padding-top: $spacing-2;
}

.k-funnel-label > div:first-child > div {
    /* label text */
    text-align: center;
    width: 100%;
}

.k-divider {
    border-bottom: solid 1px #586073;
    opacity: 0.18;
}

.k-pin-above-top {
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
}

.k-tabs-container {
    padding: 0;
    margin-top: $spacing-12;
    margin-bottom: $spacing-8;

    ul {
        display: inline-block;
        text-align: center;
        list-style-position: inside;
        margin-left: -$spacing-4;

        li {
            cursor: pointer;
            display: inline-block;
            margin-left: $spacing-4;
            margin-right: $spacing-4;
            padding-bottom: $spacing-4;
            color: $default-ui-text-color;
        }

        li.selected {
            color: $lightest-ui-text-color;
            border-bottom: solid 1px #3188ff;
        }

        li:hover {
            color: $default-ui-text-color;
        }
    }
}

// a default form presentation
.k-form-container {
    color: $default-text-color;
    background-color: $alt-default-background-color;
    border-radius: $border-radius-lg;
    margin-left: $spacing-16;
    margin-right: $spacing-16;
    padding: $spacing-2;

    a {
        color: $default-text-color;
    }

    .k-form-container-inner {
        font-size: $text-lg;
        line-height: $line-height-normal;
        padding-left: $spacing-6;
        padding-right: $spacing-6;
        padding-top: $spacing-2;
        padding-bottom: $spacing-6;
        border-radius: $border-radius-lg;
        border: solid 4px $bluegray-darkest;
    }

    .k-form-messages {
        line-height: $line-height-normal;
        padding-top: $spacing-6;
        padding-bottom: $spacing-4;
    }

    .k-form-fields {
        line-height: $line-height-loose;
    }

    .k-form-field {
        display: flex;
        width: 100%;
        margin-top: $spacing-4;
        margin-bottom: $spacing-4;

        label {
            width: 20%;
        }

        input {
            width: 80%;
        }
    }

    .k-form-actions {
        margin-top: $spacing-8;
        margin-bottom: $spacing-4;

        ul {
            display: flex;
            justify-content: flex-end;
            padding: 0;

            li {
            }
        }
    }

    .k-form-extras {
        font-size: $text-sm;
        color: $gray-dark;

        a {
            color: $gray-dark;
        }
    }
}
