// Our fonts
@font-face {
    font-family: "formular-mono";
    src: url("../fonts/formular-mono.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "u8";
    src: url("../fonts/u8-trial-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-medium-italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-bold-italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-light-italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "formular";
    src: url("../fonts/formular-black-italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

// Tailwind's base styles.
@tailwind preflight;

// Put our custom component classes here.

// The app-wide site header
.k-header {
    @apply flex items-center justify-between;
    @apply h-16 w-full;
    @apply bg-remark-blue;
    @apply p-8;

    h1 {
        @apply font-normal text-xl;
    }

    a.nav-link {
        @apply text-remark-blue-light no-underline;

        &:hover {
            @apply underline;
        }
    }
}

.k-footer {
    @apply text-sm text-center;
    @apply block h-16 w-full p-4;
    @apply absolute pin-b; // for now
}

// the outer content container
.k-outer {
    margin: 0 auto;
    @apply max-w-2xl;
}

// the inner content container
.k-inner {
    @apply p-16;
}

// a default form presentation
.k-form-container {
    @apply text-remark-blue-light;
    @apply bg-remark-old-ui rounded-lg;
    @apply mx-16 p-2;

    a {
        @apply text-remark-blue-light;
    }

    .k-form-container-inner {
        @apply leading-normal text-lg;
        @apply px-6 pb-6 pt-2;
        @apply border-4 border-solid border-remark-old-ui-darkest rounded-lg;
    }

    .k-form-messages {
        @apply leading-normal;
        @apply pt-6 pb-4;
    }

    .k-form-fields {
        @apply leading-loose;
    }

    .k-form-field {
        @apply w-full flex;
        @apply my-4;

        label {
            @apply w-1/5;
        }

        input {
            @apply w-4/5;
        }
    }

    .k-form-actions {
        @apply mt-8 mb-4;

        ul {
            @apply flex;
            @apply justify-end;
            @apply p-0;

            li {
            }
        }
    }

    .k-form-extras {
        @apply text-sm text-grey-dark;

        a {
            @apply text-grey-dark;
        }
    }
}

.k-rectangle {
    @apply bg-remark-ui-dark;
    @apply rounded-lg border-remark-ui-border-dark border-solid border;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.k-report-table {
    border-collapse: separate;
    border-spacing: 0 0.5em;

    tr > th {
        @apply p-2;
        @apply font-sans font-normal text-right;
        &:first-child {
            @apply text-left;
        }
    }

    tr > td {
        @apply p-2;
        @apply font-mono text-right;
    }
}

.k-divider {
    border-bottom: solid 1px #586073;
    opacity: 0.18;
}

.k-pin-above-top {
    @apply m-0 p-0;
    position: relative;
    top: -1px;
}

.k-tabs-container {
    @apply p-0 mt-12 mb-8;

    ul {
        @apply inline-block text-center;
        list-style-position: inside;
        @apply -ml-4;

        li {
            @apply cursor-pointer;
            @apply inline-block;
            @apply mx-4;
            @apply pb-4;
            @apply text-remark-ui-text;
        }

        li.selected {
            @apply text-remark-ui-text-lightest;
            border-bottom: solid 1px #3188ff;
        }

        li:hover {
            @apply text-remark-ui-text-light;
        }
    }
}

// Load tailwind's utility classes
@tailwind utilities;

// Misc high-pri overrides go here
body {
    @apply m-0 p-0 bg-remark-ui-darker font-sans text-remark-blue-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-headline font-normal;
}

ul,
li {
    list-style-type: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    @apply rounded;
    @apply px-2 py-1;
    @apply leading-loose;
    @apply bg-transparent border border-solid border-remark-old-ui-lighter;
    @apply text-remark-blue-light;
}

input[type="submit"] {
    @apply bg-remark-old-ui-lighter;
    @apply rounded-full border border-solid border-remark-old-ui-lighter;
    @apply text-remark-blue-light;
    @apply px-8 py-3;

    &:hover {
        @apply bg-remark-old-ui-lightest;
    }
}
