@import "./base.scss";

//-----------------------------------------------------------------------------
// Utility Classes (for all pages, content and react)
//-----------------------------------------------------------------------------

// A very subtle divider
.horizontal-divider {
    border-bottom: solid 1px #586073;
    opacity: 0.18;
}

// The typical background and shadowing of a panel
.panel-rounded-rect {
    background-color: $bluegray-dark;
    border: solid 1px $bluegray-dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

//-----------------------------------------------------------------------------
// Content Page Classes (for non-react-rooted pages)
//-----------------------------------------------------------------------------

// The app-wide site header for *content* pages (see web/content.html and web/header.html)
$header-bg-color: $blue;
$header-link-color: $blue-light;

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $s8;
    height: $s16;
    width: 100%;

    background-color: $header-bg-color;

    h1 {
        font-size: $text-xl;
        font-weight: $weight-normal;
    }

    a.nav-link {
        color: $header-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.content-footer {
    display: block;
    position: absolute;
    bottom: 0;
    height: $s16;
    padding: $s4;
    width: 100%;
    font-size: $text-sm;
    text-align: center;
}

// the outer content container
.content-outer {
    margin: 0 auto;
    max-width: 70rem;
}

// the inner content container
.content-inner {
    padding: $s16;
}

// a default form presentation
.content-form-container {
    color: $default-text-color;
    background-color: $alt-default-background-color;
    border-radius: $border-radius-lg;
    margin: 0 $s16;
    padding: $s2;

    a {
        color: $default-text-color;
    }

    .content-form-container-inner {
        font-size: $text-lg;
        line-height: $line-height-normal;
        padding: $s2 $s6 $s6 $s6;
        border-radius: $border-radius-lg;
        border: solid 4px $bluegray-darkest;
    }

    .content-form-messages {
        line-height: $line-height-normal;
        padding-top: $s6;
        padding-bottom: $s4;
    }

    .content-form-fields {
        line-height: $line-height-loose;
    }

    .content-form-field {
        display: flex;
        width: 100%;
        margin: $s4 0;

        label {
            width: 20%;
        }

        input {
            width: 80%;
        }
    }

    .content-form-actions {
        margin-top: $s8;
        margin-bottom: $s4;

        ul {
            display: flex;
            justify-content: flex-end;
            padding: 0;

            li {
            }
        }
    }

    .content-form-extras {
        font-size: $text-sm;
        color: $gray-dark;

        a {
            color: $gray-dark;
        }
    }
}
