
// Colors
$main-background-color: #161C29;
$kpi-font-color: #fff;
$header-font-color: #747F95;


// This is the styling for the KPI panels of the baseline report
$panel-background-color: #1A202E;
$panel-border: 1px solid #161C29;
$panel-border-radius: 6px;
$panel-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

// Top KPI in the baseline report styling
$kpi-color: #fff;
$kpi-font-family: Formular;
$kpi-font-size: 12px;
$kpi-font-weight: bold;
