@import "css/base.scss";

$link-h-spacing: 1.625rem; // 26px
$link-v-spacing: 0.875rem; // 14px

.project-report-links {
    display: inline-block;
}

.project-report-links ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-bottom: -1px;
    margin-left: -1 * $link-h-spacing;
}

.project-report-links li {
    cursor: pointer;
    display: inline-block;
    margin: 0 $link-h-spacing;
    padding: $link-v-spacing 0;
    color: $nav-link-color;
    font-size: $text-base;
    letter-spacing: 0.5px;
    line-height: $text-xl;
}

.project-report-links li.disabled {
    color: $nav-link-disabled-color;
}

.project-report-links li.selected {
    border-bottom: solid 1px $nav-link-active-border-color;
}

.project-report-links li.enabled:hover {
    color: $nav-link-hover-color;
}
