@import "css/base.scss";

.project-report-links {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 76px;
    background-color: $default-background-color;
    border-bottom: solid 1px $nav-link-border-color;
}

.project-report-links ul {
    position: absolute;
    bottom: -1px;
    display: inline-block;
    text-align: center;
    list-style-position: inside;
    margin-left: -$s4;
}

.project-report-links li {
    cursor: pointer;
    display: inline-block;
    margin: 0 $s4;
    padding-bottom: $s4;
    color: $nav-link-color;
    letter-spacing: 0.5px;
}

.project-report-links li.disabled {
    color: $nav-link-disabled-color;
}

.project-report-links li.selected {
    border-bottom: solid 1px $nav-link-active-border-color;
}

.project-report-links li.enabled:hover {
    color: $nav-link-hover-color;
}
