@import "css/base.scss";

.report-date-span {
    position: relative;

    &__content {
        border-radius: $border-radius-default;
        padding: $s3 $s4;
        border: $input-border;
        font-size: $text-sm;

        &-name {
            font-weight: 700;
            color: $input-text-color;
            margin-right: $s3;
        }

        &-dates {
            letter-spacing: 1px;
        }
    }
}
