@import "css/base.scss";

.project-drop-down {
    display: flex;
    align-items: center;

    &__image {
        background-color: $panel-background-color;
        border-radius: $border-radius-default;
        width: 2.25rem;
        height: 2.25rem;
        background-image: url(
            '../../../images/remarkably-project-building-neutral.svg'
        );
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__text {
        cursor: pointer;
        padding-left:$s4;
        color: $highlight-gray-3;
    }
}
