@import "css/base.scss";

.reset-password__button {
    margin-top: 32px;
    font-size: $text-xs;
    line-height: 20px;
    letter-spacing: $letter-spacing-wider;
}

.reset-password {
    padding: 10px;
}