@import "css/base.scss";

.small-box {
    :hover {
        // height: 138px;
    }
    transform-origin: 0 0;
    height: 88px;
    border-color: #2b343d;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    margin: $small-box-vertical-spacing 0;
    padding: $s5 0;
    align-items: center;
    position: relative;

    .rmb-tooltip-anchor {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.wrapper {
    :hover {
        // bottom: 0px;
        // position: absolute;
        // margin-bottom: 20px;
    }
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    border-width: 1px;
    border-color: orange;
}

.small-box__labels {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.small-box__labels__name {
    border-color: green;
    border-width: 1px;
    color: $content-text-primary-color;
    font-size: $text-base;
    padding-left: $s10;
}

.small-box__labels__detail {
    color: $content-text-secondary-color;
    font-size: $text-sm;
    padding-left: $s10;
    margin-top: $s2;
}

.small-box__outer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: $text-4xl;
    top: 50%;
}

.small-box__inner-content {
    border-color: red;
    border-width: 1px;
    color: $hero-text-color;
    font-weight: $weight-hairline;
    text-align: right;
    padding-right: 1.875rem;
}
.grow { transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) }
.grow:hover { 
    // transform: scale(1,1.1); 
    height: 138px;
    background-color: #2b343d;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dont-grow {
    // transform: scale(1, 0.9090909091);
    transform-origin: 0 0;
}