@import "css/base.scss";

.small-box {
    display: flex;
    flex-direction: row;
    margin: $small-box-vertical-spacing 0;
    padding: $s5 0;
    align-items: center;
    position: relative;

    .rmb-tooltip-anchor {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.small-box__labels {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.small-box__labels__name {
    color: $content-text-primary-color;
    font-size: $text-base;
    padding-left: $s10;
}

.small-box__labels__detail {
    color: $content-text-secondary-color;
    font-size: $text-sm;
    padding-left: $s10;
    margin-top: $s2;
}

.small-box__outer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: $text-4xl;
}

.small-box__inner-content {
    color: $hero-text-color;
    font-weight: $weight-hairline;
    text-align: right;
    padding-right: 1.875rem;
}
