@import "css/base.scss";

.small-box {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: $s4 0;
    padding: $s6 0;
}

.small-box__labels {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.small-box__labels__name {
    color: $default-ui-text-color;
    font-size: $text-base;
    padding-left: $s8;
}

.small-box__labels__detail {
    color: $default-ui-text-color;
    font-size: $text-sm;
    padding-left: $s8;
    margin-top: $s2;
}

.small-box__outer-content {
    display: flex;
    flex-direction: column;
    line-height: $line-height-compressed;
    justify-content: center;
    align-content: center;
    font-size: $text-5xl;
}

.small-box__inner-content {
    color: $lightest-ui-text-color;
    font-weight: $weight-hairline;
    font-family: $font-mono;
    text-align: right;
    padding-right: $s8;
}
