@import "css/base.scss";

// TODO FIXME -- use the contents of variables.scss; don't re-define colors, etc.

.population-chart {
    position: relative;
}

.population-chart__bar {
    position: relative;
    background-color: $msbi-bar-bg-color;
}

.population-chart__bar-percent {
    background-color: $msbi-bar-fg-color;
    height: 20px;
}

.population-chart__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    line-height: 28px;
    margin-bottom: 3px;
}

.population-chart__label-value {
    position: absolute;
    background-color: $panel-background-color;
    color: $content-text-primary-color;
}

.population-chart__dotted-lines {
    height: 40px;
    border-left: 1px dashed $msbi-border-color;
}

.population-chart__dotted-diagnoal {
    position: absolute;
    right: 0;
}
