@import "css/base.scss";

// TODO FIXME -- use the contents of variables.scss; don't re-define colors, etc.

.population-chart {
    position: relative;
}

.population-chart__bar {
    position: relative;
    background-color: #253043;
}

.population-chart__bar-percent {
    background-color: #563eff;
    height: 20px;
}

.population-chart__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    line-height: 28px;
    margin-bottom: 3px;
}

.population-chart__label-value {
    position: absolute;
    background-color: #1a202e;
    color: #fff;
}

.population-chart__dotted-lines {
    height: 40px;
    border-left: 1px dashed #2c3646;
}

.population-chart__dotted-diagnoal {
    position: absolute;
    right: 0;
}
