@import "css/base.scss";

.large-graph-box {
    display: flex;
    flex-direction: column;
    padding: $s6;
    height: 236px;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__name {
        color: $white;
        font-size: $text-xs;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    &__value {
        color: $lightest-ui-text-color;
        font-family: $font-mono;
        font-size: $text-6xl;
        font-weight: $weight-hairline;
        padding: $s2 0;
    }

    &__graph-delta {
        position: absolute;
        left: 100%;
        margin-left: $s8;
        width: $s20;
        background: transparent;
        overflow: hidden;
        font-size: $text-xs;
    }

    &__target,
    &__extra {
        margin-top: $s1;
        color: $bluegray-light;
        font-weight: 300;
        font-size: $text-sm;
        line-height: $text-xl;
        text-align: center;
    }
}
