{# The base template for all Remarkably pages; provides nothing but an HTML5 skeleton #}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    {% endblock %}

    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block vendor_css %}
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static "index.css" %}">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  {% block body_tag %}<body>{% endblock %}
    {% block body %}
    {% endblock %}

    {% block csrf %}
    <div style="display: none">{% csrf_token %}</div>
    {% endblock %}
    {% block vendor_js %}
    {% endblock %}
    {% block js %}
    <script src="{% static "index.js" %}" type="text/javascript"></script>
    <script src="{% url "js_reverse" %}" type="text/javascript"></script>
    {% endblock %}
    {% block analytics %}
    {% include "web/analytics.html" %}
    {% endblock %}
  </body>
</html>
