{# A base content page that renders a form. #}
{% extends 'web/content.html' %}

{% block detail %}
    <div class="content-form-container">
      <div class="content-form-container-inner">
        <h1>{% block form_name %}{% endblock %}</h1>

        <div class="content-form-messages">
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}

          {% block nonfield_extras %}{% endblock %}
        </div>

        <form method="post" action="{% block action %}#{% endblock %}">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}        

            <div class="content-form-fields">
                {% for visible_field in form.visible_fields %}
                <div class="content-form-field">
                    {{ visible_field.errors }}
                    {{ visible_field.label_tag }} {{ visible_field }}
                </div>
                {% endfor %}

                <div class="content-form-actions">
                    <ul>
                        <li><input type="submit" value="{% block submit %}Submit{% endblock %}" class="primary" /></li>
                    </ul>
                </div>
            </div>
        </form>

        <div class="content-form-extras">{% block form_extra %}{% endblock %}</div>
      </div>
    </div>

{% endblock %}


