{# The base template for all pages that are fully managed by react. #}
{% extends "web/base.html" %}

{% block title %}{% if page_title %}{{page_title}} :: {% endif %}Remarkably{% endblock %}

{% block viewport %}
{# Hack for now to "support" mobile devices #}
<meta name="viewport" content="width=1440">
{% endblock %}

{% block body %}
{# Allow our react javascript to find the appropriate page component. #}
<div id="root" data-page="{{ page_class|default:"Page" }}">
</div>

{# Use the fancy new json_script template filter in Django 2.1 to inject our page props. #}
{{ page_props|json_script:"page-props" }}
{% endblock %}
