@import "css/base.scss";

.report-section {
    padding-top: $s8;
    padding-bottom: $s8;
}

// TODO this looks like a hack
.report-section.horizontal-padding {
    padding-left: $s8;
    padding-right: $s8;
}

.report-section__name {
    margin: 0 $s4;
    color: $default-ui-text-color;
    text-transform: uppercase;
    display: block;
    letter-spacing: $letter-spacing-wide;
}

.report_section__divider {
    margin: $s8 0 $s12 0;
}
