@import "css/base.scss";

.navigation-items {
    display: block;
    height: $s16;
    font-family: $font-sans;
    margin-top: -$s4;
    padding: 0;
}

.navigation-items .navigation-item {
    display: block;
    height: $s16;
    padding: $s4 0 0 $s4;
}

.navigation-items .navigation-item:not(:last-child) {
    border-right: solid 1px $bluegray-border;
}

.project-navigation-item_image {
    display: inline-block;
    background-color: $gray;
    border-radius: $border-radius-default;
    min-width: $s8;
    min-height: $s8;
    width: $s8;
    height: $s8;
}

.project-navigation-item_text {
    cursor: pointer;
    display: inline-block;
    padding: 0 $s4;
    margin-top: $s1;
    vertical-align: middle;
}
